[2018-10-30 13:25] jbscoggi opened #1 "Copy issues over from previous Gitlab repo"
Need to copy over all the open issues on the old Gitlab repo to this tracker to make sure nothing gets lost.

[2018-10-30 13:30] jbscoggi opened #2 "Add collision integral data for TACOT species"
Add collision integral for the Theoretical Ablative Composite for Open Testing mixture which consists of the following species from the NASA-9 database: C H O N CH4 CN CO CO2 C2 C2H C2H2,acetylene C3 C4 C4H2,butadiyne C5 HCN H2 H2O N2 CH2OH CNN CNC CNCOCN C6H6 CH CH2 CH3 C2H4 C2H6 C3H3,1-propynl C3H3,2-propynl C6H5O,phenoxy C6H5OH,phenol O2 OH

[2018-10-30 13:51] jbscoggi opened #3 "New website"
This is a very old issue from the Gitlab repo but will be targeted for the v1.0.0 release. The website https://www.mutationpp.org needs a big update. This issue starts a discussion about it.

# Main page

The new website should feature a main page which would contain the following information:

* what Mutation++ is;
* who works on it;
* who uses it;
* where to download the code (stable versions an

[2018-10-30 17:10] grgbellasvki opened #4 "GSI Unit Testing"
Write the proper tests for GSI

[2018-10-30 17:12] grgbellasvki opened #5 "GSI full ion recombination"
Full ion recombination has been tested by imposing fully catalytic recombination
reactions for the ions.
An option for "automating" this procedure would make the code cleaner.

[2018-10-30 17:13] grgbellasvki opened #6 "Elementary reaction models for GSI"
Elementary reaction models should be added to GSI module of Mutation.
This addition will be performed on request.

[2018-10-30 17:14] grgbellasvki opened #7 "Steady state pyrolysis model for GSI"
This issue aims to the addition of an approximate model for bulk pyrolysis to the surface and mass balance, as seen by the gas phase.
The steady state assumption implies that the recession velocity of the "pyrolysis layer"  is equal to the surface recession. This velocity plus the char to virgin density ratio (phi) determines the mass flux of the pyrolysis gases, which are added to the mass and en

[2018-10-30 17:17] grgbellasvki opened #8 "Surface at Equilibrium"
Surface at equilibrium with energy balance for ablative/catalytic surfaces.

[2018-10-30 17:20] grgbellasvki opened #9 "Merging GSI to main mutation"

[2018-10-30 20:14] jbscoggi opened #10 "Windows support"
This issue is a [continuation of an issue](https://sync.vki.ac.be/mpp/mutationpp/issues/8) on the old Gitlab server.  The idea is to add support for Windows.  A [branch](https://sync.vki.ac.be/mpp/mutationpp/tree/8_windows_support) is already available on the Gitlab server which provides the necessary changes to make this happen.  What is left to be done is to merge that branch with the Github ver

[2018-10-30 20:16] jbscoggi opened #11 "Improve installation instructions"
The installation instructions should briefly describe how to turn on non-default options.  Create a table of options with their type, default setting, and description.  Also include brief description of the ccmake utility.

[2018-10-30 20:23] jbscoggi opened #12 "Changelog"
Setup changelog which lists the supported user facing features for v1.0.0 and can be updated with each new release.

[2018-10-30 20:27] jbscoggi opened #13 "Clip species compositions to improve robustness"
## General description
Species compositions such as mole/mass fractions, densities, or number densities are required throughout M++ in order to compute many different properties of a mixture.  There is a growing consensus that the compositions should be clipped in order to improve the robustness of some algorithms.  This should be done at a low level to ensure consistency throughout.

## Detailed

[2018-10-30 20:32] jbscoggi opened #14 "Driver program for all tools"
## General description
There are several programs currently included in the M++ software suite.  It would be nice to have a single tool, for example `mpp`, which would take options to run different utilities all belonging to the software package.

## Detailed description
At the moment, the various tools shipped with M++ are
- `mppequil`
- `checkmix`
- `bprime`

as well as a few example codes.  In

[2018-10-30 20:33] jbscoggi commented on #14
This was a comment for this issue from Vincent Leroy on the old Gitlab server:

There are some nice args management libraries which would allow the development of CLI like that. [Boost.Program_options](http://www.boost.org/doc/libs/1_64_0/doc/html/program_options.html) would be the no-brainer for many people out there, but it might be an overkill. My personal favorite so far is [args](https://gith

[2018-10-30 20:35] jbscoggi opened #15 "Clean up data directory"
The data directory is currently a bit messy and not well documented. Here are some of the issues:
- Several mixtures are currently included which are not really "supported".  These should either be removed from the repository or updated in order to ensure that they are well documented and are formatted properly.  One example is the use of the old default element fraction format which has been repl

[2018-10-30 20:39] jbscoggi opened #16 "Improvements to Units"
## Description
A few ideas of possible improvements that could be made for the `Units` class:
- Add ability to use the `^` character in unit strings to denote powers, for example `m^3` instead of `m m m`.  This was not included before simply to make the implementation easier, but now it is not a difficult feature to add and would help to improve the readability of some database files.
- Use ratios

[2018-10-30 20:41] jbscoggi opened #17 "Minimization of Helmholtz free energy in equilibrium solver"
## General description
This is a feature request for adding the minimization of Helmholtz free energy which would allow the solution of equilibrium problems at constant volume (ie: TV, UV, SV, ...).

## Detailed description
Currently, the equilibrium solver is based on the Multiphase Gibbs Function Continuation (MPGFC) method which minimizes the Gibbs energy.  Gibbs energy minimization allows to s

[2018-10-30 20:44] jbscoggi opened #18 "New setState option for Equil state model"
## Description
Add a new variable set option to the Equil state model setState() method which takes element densities as the first option, and the total energy density as the second option.  Note that this is like option 0, but allows the user to set the elemental composition as well.

### Example to use for testing
A new test could be added which compares using this option with setting the compos

[2018-10-30 20:50] jbscoggi opened #19 "Python interface"
There is a long history issue on the old Gitlab server.  Instead of reproducing it here, [check out the issue on Gitlab](https://sync.vki.ac.be/mpp/mutationpp/issues/42).

[2018-10-30 20:53] jbscoggi opened #20 "Bug in multiphase equilibrium solver"
Linking to [this issue](https://sync.vki.ac.be/mpp/mutationpp/issues/46) on the old Gitlab server.

[2018-10-30 21:00] jbscoggi commented on #1
Closing after moving all the issues over.

[2018-10-30 21:00] #1 closed

[2018-10-30 21:06] jbscoggi opened #21 "Finish wiki migration from Gitlab"
Migrate the entire wiki from the old Gitlab server.

[2018-10-31 10:36] leroyvn commented on #14
Update to this comment: Since the release of its v2, Catch now has its own command line interface library [Clara](https://github.com/catchorg/Clara), shipped alongside the Catch code. Using it would avoid adding an extra dependency.

[2018-10-31 11:13] BBArrosDias opened #24 "Use consistent units for inputs (pressure)"
Change units in the Bprime tool to Pa

[2018-10-31 11:16] BBArrosDias opened #25 "Consistent help in all tools"
Write help for all tools:
- bprime
- mppcalc
- checkmix

[2018-10-31 12:32] BBArrosDias opened #26 ""MACOSX_RPATH is not specified for the following targets" for MacOs"
when do the cmake on the mac operating system the following  warning comes out:

CMake Warning (dev):
  Policy CMP0042 is not set: MACOSX_RPATH is enabled by default.  Run "cmake
  --help-policy CMP0042" for policy details.  Use the cmake_policy command to
  set the policy and suppress this warning.

  MACOSX_RPATH is not specified for the following targets:

   mutation++
   mutation++_fortran

[2018-10-31 12:33] BBArrosDias commented on #26
The solution is to include this command on the CMakeLists.txt:

if (${CMAKE_SYSTEM_NAME} MATCHES "Darwin")
    set(CMAKE_MACOSX_RPATH 1)
endif()

[2018-10-31 15:21] jbscoggi commented on #12
Solved by #23

[2018-10-31 15:21] #12 closed

[2018-11-01 09:44] jbscoggi commented on #25
Solved by #28

[2018-11-01 09:44] #25 closed

[2018-11-01 09:45] jbscoggi commented on #26
Solved by #28

[2018-11-01 09:45] #26 closed

[2018-11-01 09:45] jbscoggi commented on #24
Solved by #28

[2018-11-01 09:45] #24 closed

[2018-11-01 10:04] jbscoggi commented on #15
Sahadeo, who created the latest Mars mixture, provided the following reference:

@article{fertig2012sacomar,
  title={SACOMAR: Report and Library on Gas Phase Chemistry},
  author={Fertig, M},
  journal={DLR, SACOMAR, TR D},
  volume={6},
  year={2012}
}

[2018-11-06 15:18] grgbellasvki opened #30 "Reaction Classification update"
Update the classification properties according to the work of
Julien Amorosseti.

Check the reaction classification test.

[2018-12-03 08:39] jbscoggi commented on #21
I have finished the Wiki migration (mostly done by @grgbellasvki). Closing this.

[2018-12-03 08:39] #21 closed

[2018-12-03 13:11] jbscoggi commented on #2
Resolved by #27, closing.

[2018-12-03 13:11] #2 closed

[2018-12-04 11:35] jbscoggi commented on #15
Solved by #31. Closing.

[2018-12-04 11:35] #15 closed

[2018-12-04 15:19] mutationpp opened #32 "Code coverage analysis"
Feature request to add code coverage analysis.

[2019-02-08 11:17] turchia opened #34 "Failing to load collision integrals when condensed species are present"
### Description
mppequil seems to fail when a condensed species is present in the mixture because it's trying to load collision integral data for pairs containing the condensed species (e.g., Q11_(C,C(gr)))

### Error text
  mppequil -T 300 -P 10135 -m 0,32  carbonPhenolInAir
         Th[K]      mu[Pa-s]
           200
M++ error: error parsing file.
file: /personnel/reseng_ar/turchi/PROGRAMS/githu

[2019-02-08 12:40] jbscoggi commented on #34
Hi @turchia, can you explain what the use-case is here?  I'm not sure it makes sense to compute transport of a multiphase mixture...  Is the intended behavior to compute transport of the gas phase only?

Not sure why github doesn't support attaching XML files, but if you want in the future you can add xml directly in the issue:

[code]

[2019-02-08 13:23] turchia commented on #34
Hi @jbscoggi,

You got the point right

Fully agree

Yes, that's exactly the intention

But the file contains the solid phase because it will be used in a material code and the C(gr) "could be useful" for the B' computation.

[2019-02-10 12:41] jbscoggi commented on #34
Hey @turchia, I took a look at the transport database stuff and I think I have a "simple" fix for this problem.  Obviously, what we want is to loop over only gas phase species when we compute transport properties.  Fortunately, the ordering of species in Thermodynamics is fixed to ensure that gaseous species are always first, and there is a function `nGas()` which provides the number of gas specie

[2019-02-11 17:05] turchia commented on #34
Hello @jbscoggi,
We are here with @grgbellasvki working on this bug.
We did what suggested and few other minor adjustments and the code seems to run.
However, if we compute the viscosity including in the mixture a condensed species we get a different result than if we do not include any condensed species.
We would assume that there's a problem with multiple quantities like mass and mole fractions,

[2019-02-11 19:16] jbscoggi commented on #34
Hey @turchia and @grgbellasvki.  An easy check to confirm your hypothesis is to change

[code]

to

[code]

in the following location:

https://github.com/mutationpp/Mutationpp/blob/d15a907ea3478694bd4ce8899d863185fb95b0e6/src/thermo/MultiPhaseEquilSolver.h#L147-L160

This will ensure mole (and mass) fractions are defined in phase, and not globally, meaning that they will sum to 1 in each phase.

[2019-02-11 19:41] jbscoggi opened #36 "Move wiki to markdown docs"
Move the wiki documentation to the project repository, referenced from the README.md file.  This has several benefits, including:
- Documentation becomes versioned and follows the project version
- Can work on documentation and commit before PR
- Allows non project members to add documentation

A good example of this is the [Catch2 project](https://github.com/catchorg/Catch2).

[2019-02-11 21:47] jbscoggi commented on #36
I started working on this [here](https://github.com/jbscoggi/Mutationpp/tree/36_move_wiki).

[2019-02-12 16:05] turchia commented on #34
Hi @jbscoggi,

As @grgbellasvki pointed out this morning, the check I was doing was nonsense!  Of course, running w/ or w/o the condensed phase changed also the gas composition.
A better check (see below) confirms that indeed everything is working properly. So the fix with nGas you proposed earlier seems to work.
We will clean up everything  and commit it.

[code]

[2019-02-27 15:51] jbscoggi opened #38 "Questions about transport"
The following is a part of an email that I don't have time to go through these days so I would like to put it here in case someone else (@grgbellasvki) might have a look and try answering some of the questions.

In addition, I think some of the answers to these questions might spark an interesting conversation about some design choices for the transport module, which should be documented here.

[2019-02-28 08:22] jbscoggi commented on #34
Hey @turchia and @grgbellasvki, just checking on the progress of this issue.  Is it OK to close?

[2019-02-28 08:26] #32 closed

[2019-02-28 09:06] amorosej opened #39 "Floating point error when computing lots of rates"
When computing rate coefficients with a high number of reactions (using mppequil), a floating point error is thrown. The error arises in Kinetics::forwardRateCoefficients when exponentiating the array lnkf, using eigen .exp(). Removing .exp(), the eigen map is created correctly, with the same values as lnkf. Also, computing the standard c++ exp of each element of lnkf works fine.

Would it be imag

[2019-02-28 09:12] jbscoggi commented on #39
Hey @amorosej, could you provide an example in which this is happening (command line, and necessary data files)?  The Eigen exp() function is about 40% faster than the standard exp() function, so it would be really nice to understand what's going on before we abandon Eigen here.

[2019-02-28 09:56] grgbellasvki commented on #5
Closing this enhancement issue for the time being.
I would re-open it only if there is actual need to implement GSI ion recombination in the future.

[2019-02-28 09:56] #5 closed

[2019-02-28 10:43] amorosej commented on #39
Hi,

Sorry for the delay, I had to check something in the files before replying.
So, here are two sets of species+mixtures+mechanisms files, one with a low number of reactions, for which things work, and one with a higher number, for which the bug occurs.
To reproduce the test, you need to change a little bit the reaction::operator == and the reaction::parseSpecies (see the pictures attached) so t

[2019-02-28 11:45] lkampoli opened #40 "Rate coefficients computation in STS"
Hello, I'd like to raise an issue on "how to calculate  the rate coefficients in the state-to-state approach".
In particular, I'd like to ask what in "kinetics" has to be modified/added?

My purpose is to consider VT, VV and diss-rec rates according to STS and to polymorphically allow the user to choose the model to compute the rates, (ki), i.e. SSH, FHO, Billing.

As I understand, in this case, I

[2019-02-28 12:42] jbscoggi commented on #40
Hi @lkampoli, could you please include the equations here so that it is easier for people to see what needs to be done, without needing the book?  Maybe you can scan the relevant pages and include them in the comment above?  Thanks.

[2019-02-28 12:56] lkampoli commented on #40
Hello, yes sure! Here below the relative chapter.

[reaction_rate_coeffs.pdf](https://github.com/mutationpp/Mutationpp/files/2915047/reaction_rate_coeffs.pdf)

Regards,
Lorenzo

[2019-02-28 13:22] jbscoggi commented on #40
Hey @grgbellasvki, is there any overlap here between what you Lorenzo is working on and what you and your student are doing?  If so, I think you guys should coordinate a bit.

[2019-02-28 13:27] amorosej commented on #40
Hello,
I also implement a state-to-state vibrational model. I made some modifications that could (or not...) fulfill your needs. We should meet and discuss it.

[2019-02-28 13:31] lkampoli commented on #40
Hello @amorosej,
oh this is interesting! Well, to meet could be difficult but I'm available for skype (lorenzowz) almost everyday (also now) but preferably tuesday and thursday.
Maybe you could share your modifications?

Thanks,
Lorenzo

[2019-03-01 08:18] amorosej commented on #40
Sure, let me just read the paper and do some checks.
Julien

[2019-03-01 10:14] amorosej commented on #30
Here is a proposal:

I use 5 types of tests.
- The first is the number of electrons in products minus that in reactants : if positive, it is the branch of ionization/detachment, if negative ion recombination/attachment, if zero dissociation/recombination/(de-)excitation/exchange.
- For the first and second branch, to distinguish between ionization (resp. ion recombination) and detachment (resp. at

[2019-03-01 10:48] amorosej opened #41 "Radiative processes"
Hi, I am about to add radiative processes (bound-bound transitions, radiative recombination...) so I think we should agree on a convention for mutation.
1) A label like "hv" could be used in reaction formulae to denote a photon.
2) The number of photon on each side of the reaction should be stored in a member of the reaction class (one integer for reactants, one for products). It allows to design

[2019-03-04 20:10] jbscoggi commented on #41
Hey @amorosej, yes I think you are on the right track using `hv`.  This should be easy enough to handle, but will require some updates on how reactions are parsed, etc.  We should also figure out how the radiation model can be incorporated and remain consistent.  I'll be there next week and we can talk about some more specifics.

[2019-03-05 21:23] jbscoggi commented on #36
@grgbellas, @momom4urice, @BBArrosDias I would love to get some early feedback on the new documentation setup I'm working on over on [my fork](https://github.com/jbscoggi/Mutationpp/tree/36_move_wiki).  The eventual goal is to replace the wiki entirely with markdown docs for the reasons in the opening comment of this issue.

[2019-03-06 09:24] jbscoggi commented on #30
This issue was solved in #42. Closing.

[2019-03-06 09:24] #30 closed

[2019-03-11 10:45] jbscoggi commented on #38
@lkampoli Here are a few answers to your questions.

In mutation one version is preferred, why?

Indeed, two different versions of the "collision integrals" are often cited in the literature.  The first is the dimensional form presented in 10.1103/PhysRevE.70.046412, and a non dimensional or "reduced" form, shown in 10.1016/j.jcp.2004.01.012.  Note that the reduced form shown in the Magin article

[2019-03-11 12:17] jbscoggi commented on #34
Fixed in #43. Closing.

[2019-03-11 12:17] #34 closed

[2019-03-11 12:21] turchia commented on #34
I let  @grgbellasvki <https://github.com/grgbellasvki> give our final word...

[2019-03-11 12:38] jbscoggi opened #45 "Don't allow 0 preexponential factor in Arrhenius"
Right now A = 0 is OK, but it makes more sense to throw an error and tell the user.  If you want to get rid of a reaction then delete it or comment it out.

[2019-03-11 13:10] jbscoggi commented on #39
Hi @amorosej, I have tried to reproduce the error but it seems to work on my machine.  Can you try the following?

1. Try running in Debug mode
2. Run with gdb (on linux) and indicate exactly where the FPE occurs
3. Use valgrind to check if there are any memory issues ocuring when you have a big mechanism

[2019-03-11 13:27] jbscoggi opened #46 "checkmix reaction formula width too small"
If the a reaction is too long, the columns do not line up correctly.  The width of the column should be computed based on the longest reaction formula.

[2019-03-11 13:31] jbscoggi opened #47 "Change default of thirdbody efficient factors"
The default efficiency factor for thirdbodies is currently 1.  This could be generalized, for example

[code]

[2019-03-11 13:43] jbscoggi opened #48 "Bug in OmegaI"
There is a probable bug in OmegaI.cpp where sign of the reaction enthalpy term is negated when adding to the source term.  This happens because for reverse reactions, the reaction enthalpy is subtracted from the source, however, this is already true because enthalpy term itself has a sign based on the direction of the reaction.  Thus the signs will cancel and not give the correct source term.

[2019-03-11 16:07] jbscoggi commented on #46
This is solved in #49.  Closing.

[2019-03-11 16:07] #46 closed

[2019-03-11 18:00] jbscoggi commented on #45
Solved in #50.  Closing.

[2019-03-11 18:00] #45 closed

[2019-03-11 19:52] jbscoggi commented on #36
Solved in #44. Closing.

[2019-03-11 19:52] #36 closed

[2019-03-12 06:57] lkampoli opened #51 "Interfacing Mutationpp with COOLFluiD"
Hello,
I successfully compile and install Mutationpp, all tests, docs and fortran interface are ok.

Then, I try to interface to COOLFluiD as with the previous version, which however doesn't rely on Eigen.
Since I get an error:

**/home/lcampoli/Mutationpp/install/include/mutation++/MultiPhaseEquilSolver.h:33:30: fatal error: eigen3/Eigen/Dense: No such file or directory
 #include <eigen3/Eigen/De

[2019-03-12 08:24] jbscoggi commented on #51
Hey @lkampoli, this sounds like a problem with the include directory for Eigen in the COOLFluid build scripts.  Make sure that it correctly points to the correct Eigen folder.

[2019-03-12 10:16] amorosej opened #52 "Non-reversible reactions"
Hi,
In the current version of M++ the "non-reversible reactions" feature needs a fix : the backward rates are not zero for reactions with the "=>" token.

[2019-03-13 13:22] jbscoggi opened #56 "Missing dependencies in CTest config"
There is currently a possibility when running the tests in parallel that the example tests (compile and run) can be run out of order, meaning that the run test is called before the compile test, leading to the run test failing.  In order to fix this, the DEPENDS property should be set on the run tests to make sure that the compile tests are done first.  Here is an example of how to do this.

[code

[2019-03-13 14:06] #56 closed

[2019-03-13 15:33] amorosej opened #58 "Star notation bug"
Hi,
There is a mismatch of energy units in the constructor used for the "star notation" feature. I will make a pull request very soon for this.

[2019-03-13 16:23] lkampoli opened #59 "about mechanism input file"
Hello, I would like to ask some explanation on how the mechanism file should be written and how is interpreted.

- For  example, what does the line `<M>N2:0.2333, NO:0.2333, O2:0.2333</M>` mean?

Moreover, what is wrong if I write the following file?

Apart from the illegibility, I get the message that several reactions are the same.

- But how can I write a reaction with different partners and di

[2019-03-13 16:27] jbscoggi commented on #59
Hi @lkampoli, please read the documentation for reaction mechanism files [here](https://github.com/mutationpp/Mutationpp/blob/master/docs/input-files.md#reaction-mechanisms).

[2019-03-13 16:27] #59 closed

[2019-03-14 09:35] jbscoggi commented on #48
Solved by #55.  Closing.

[2019-03-14 09:35] #48 closed

[2019-03-14 09:37] jbscoggi commented on #52
Solved by #53. Closing.

[2019-03-14 09:37] #52 closed

[2019-03-14 11:16] amorosej commented on #58
Okay, so I corrected the mistake and tried to run the tests. I fortuitously found a bug in the code after the following test failed : "11 - DiffusionMatrix yields diffusion fluxes which sum to zero".

The error comes from a division by (1-xi) in the Ramshaw diffusion matrix. When a species "i" is dominant, xi rounds off to 1.0 and then you're screwed. It happens in the test with the Argon state-to

[2019-03-14 13:39] jbscoggi commented on #58
Yes I see what you mean:
[code]
If you look at the definition of Dim,
[code]
then actually you see that the `1.-X[j]` should actually cancel out.  So maybe a better idea is just to not use the `Dim` but the partial computation of `Dim` which does not have the `1.-X[j]` term.  I will do this now and submit a PR.  Once that is merged, you can merge with your branch and see if it's working...

[2019-03-14 15:03] jbscoggi commented on #58
OK, #62 should have fixed the problem.  Go ahead merge the latest master into your branch and see if that fixes the test case with your modifications.

[2019-03-14 15:33] amorosej commented on #58
Ok, the test passes. I make the pull request.

[2019-03-15 01:03] CatarinaGarbacz opened #64 "Compiling SU2 with link to Mutation++"
Hello,
after successfully compiling and running Mutation++ by itself, I am now trying to compile SU2 with the link to Mutation++ by running the command:

$ ./configure --prefix=/home/catarina/Codes/SU2-mut/SU2-NEMO/ --enable-mpi --with-cc=/usr/bin/mpicc --with-cxx=/usr/bin/mpicxx CXXFLAGS="-O3 -std=c++0x" **--with-Mutationpp-lib=/home/catarina/Codes/Mutation++/mutation++/install/lib --with-Mutatio

[2019-03-15 08:56] jbscoggi commented on #64
Hey @CatarinaGarbacz, you were close I think.  Try
[code]
and see if that works.

[2019-03-15 08:58] jbscoggi commented on #51
Hey @lkampoli, did you figure this out?  If not, look at my response to #64 and see if that helps.

[2019-03-15 09:05] lkampoli commented on #51
Yes, sure, of course it was the include. Actually, I use catch and eigen system wide, so I don't have any issue, at least on my laptop. On the university server, I fix it in the .bashrc.
The other issue, now is some segmentation fault in the CF run ... while in the old version of M++ does not occur, but I need to investigate more about this.

Thank you,
Lorenzo

[2019-03-15 09:23] jbscoggi commented on #51
OK good.  No idea about CF unfortunately.... :( Good luck.

[2019-03-15 09:23] #51 closed

[2019-03-15 13:26] CatarinaGarbacz commented on #64
No, same error

[2019-03-15 13:30] jbscoggi commented on #64
Sorry, I think I miss understood before, you cannot add an include path as an argument to make AFAIK.  Instead, you should add this in the configuration of SU2.  Try something like this when you call `./configure`:
[code]

[2019-03-15 13:49] CatarinaGarbacz commented on #64
We've made some progress. It was able to get to the next error:

**../src/CGasKineticSchemeBGK.cpp:3:21: fatal error: lapacke.h: No such file or directory**

I would follow the same strategy to solve this error but, if I'm looking at it right, I am not being able to find any **lapacke.h** file in Mutation++ directory (especially not with an "e" lapack**e**)

[2019-03-15 17:56] CatarinaGarbacz commented on #64
Hi JB,

sorry to bother again, could you help me with this additional error?

./src/CMutationpp.cpp: In member function ‘virtual std::vector<double> CMutationpp::GetMaxwellMoment(short unsigned int) const’:
../src/CMutationpp.cpp:225:14: error: ‘const class Mutation::Mixture’ has no member named ‘mixtureFrozenMaxwellMoment’

[2019-03-15 20:00] jbscoggi commented on #64
Hey @CatarinaGarbacz , the first problem is purely an SU2 issue I believe since we don't use lapacke.h in M++ and the error is coming from an SU2 source file.

As for the second issue, I'm not sure what function `mixtureFrozenMaxwellMoment` is.  Perhaps this is something that was in your (or Dr. Fossati's) version of M++?  From the error, it seems that you are using the main version of M++ but the

[2019-03-26 12:08] #64 closed

[2019-04-01 07:23] grgbellasvki opened #65 "Two-Temperature model using NASA-9"
Currently, the only way to do multi-temperature models is with RRHO model. Often for increased accuracy one should use instead the NASA-9 polynomials. The aim of this issue is to extend the library to work with multi-temperature models and NASA polynomial databases.

This is an extension necessary for the coupling of Mutation++ with US3D.

Briefly, for a two temperature model the total enthalpy fo

[2019-04-01 07:50] jbscoggi commented on #65
Hey @grgbellasvki this would be great to have added.  Of course, you could generalize it as a way to extend any single-temperature thermo to a two-temperature thermo.  For example, you could even use  a RRHO taking only a single temperature which would be useful for testing because you should retrieve the same answer as for two-temperature RRHO.  Just a thought...

[2019-04-03 08:31] lkampoli commented on #40
Hello @amorosej ,
do you have any news regarding your implementation of the vSTS model?

Kind regards,
Lorenzo

[2019-04-05 14:31] amorosej commented on #40
Hi Lorenzo,

Sorry for the delay, lately I have been busy. I propose that I create a branch on my github fork, with the modifications I have made to implement non-Arrhenius rates. Then you will be able to use these files and add the rate laws that you need more easily (I'll explain the steps). Is it ok ?

Best,
Julien

[2019-04-05 14:35] lkampoli commented on #40
Hi Julien,yes thank you!Best regards,LorenzoSent from my Samsung Galaxy smartphone.
-------- Original message --------From: amorosej <notifications@github.com> Date: 05/04/2019  17:31  (GMT+03:00) To: mutationpp/Mutationpp <Mutationpp@noreply.github.com> Cc: Lorenzo Campoli <l.kampoli@spbu.ru>, Mention <mention@noreply.github.com> Subject: Re: [mutationpp/Mutationpp] Rate coefficients computation

[2019-04-08 16:21] #58 closed

[2019-04-08 16:35] amorosej commented on #40
I created the branch. See the attached docs for examples.
[docs.zip](https://github.com/mutationpp/Mutationpp/files/3055354/docs.zip)

[2019-04-10 08:52] lkampoli commented on #65
Hello,
I understand that I wrote it wrong! Of course it is possible to use a 2T model, just I would like to add our formulation.

Regards,
Lorenzo

[2019-04-10 08:59] lkampoli commented on #9
Hello,
in this regards, I previously mentioned that when I try to interface COOLFluiD with the present version of Mutationpp, the compilation `make` goes ok but running any testcase raises an error, which seems due to the fact that some file is not correctly found/read in the database for the GSI module.
Indeed, recompiling the library without GSI, solved the issue for me.

[error.log](https://git

[2019-04-10 09:07] grgbellasvki commented on #9
I will look into it. Thanks for post.

[2019-04-10 10:09] lkampoli commented on #40
@amorosej  thank you! Actually, as I understand, I don't need to implement any other rate law.

With reference to reaction_rate_coeffs.pdf posted above, I just need (in the vSTS) to compute eq. 6.2, 6.3, 6.11, respectively for the VT, VV, and diss-rec processes. The rate coeffs., k_i appearing there depend on the model adopted, SSH, FHO, etc. and the K_eq needed for diss-rec, eq. 6.16, is still co

[2019-04-17 08:42] lkampoli commented on #65
Hello,
may I ask a typical set of database (mixture, mechanism, transfer) file set to run air 5 2T Park model with Mutation, please?

[2019-04-17 12:32] grgbellasvki commented on #65
The mixture and mechanism files for single and multi-temperature models are identical.
What changes is that you should choose the correct StateModel,
"ChemNonEq1T" for single temperature, "ChemNonEqTTv" for Park's two temperature model.
Note that if you choose "NASA" polynomials for thermo_db the state model  "ChemNonEqTTv" should be avoided; "RRHO" is the recommended option.
We want to create a n

[2019-04-22 22:38] grgbellasvki opened #66 "Additional compilers for the tests"
@jbscoggi Is there a way to include for the compilation tests two additional compilers for the fortran wrapper? They are very important for the coupling of the code with additional CFD solvers.

The two new compilers are:
pgi:   https://www.pgroup.com/index.htm
ifort: https://software.intel.com/en-us/compilers

[2019-04-22 22:49] jbscoggi commented on #66
Hey @grgbellasvki, indeed this would be nice to include in the testing.  I don't think it will be possible with ifort, just because of the way the intel licensing works, but we should check on that.  As for PGI, I found this [nice project](https://github.com/nemequ/pgi-travis) which you should take a look at.  If you think that will work, then we can proceed with trying to set that up.

[2019-04-22 23:02] jbscoggi commented on #66
[This thread](https://github.com/nest/nest-simulator/issues/242) may answer the Intel compiler question...

[2019-04-23 13:49] grgbellasvki commented on #66
For PGI, I will test the script and let you know thanks.

[2019-04-23 22:48] jbscoggi commented on #9
Solved by #22. Closing.

[2019-04-23 22:48] #9 closed

[2019-04-23 22:49] jbscoggi commented on #4
Solved by #22. Closing.

[2019-04-23 22:49] #4 closed

[2019-04-25 11:48] lkampoli commented on #65
Hello, yes thanks. Just I was in doubts because I get some problems when I run the simulation.
Since I still get error, may  I ask you whether some of you has a working testcase with air5 2T to run in COOLFluiD, please?

[2019-04-26 02:31] jbscoggi commented on #65
Hey @lkampoli, just taking a look at this conversation and wanted to make sure you realized that the mixture file for air5 was recently renamed to be air_5 in order to be consistent with other mixtures.  Maybe that is the source of the error?

[2019-04-26 06:12] lkampoli commented on #65
Hello, yes I noticed. It is not that, but thanks for the warning! Could also be something similar somewhere else ...

[2019-04-26 13:15] jbscoggi commented on #65
You can always use `checkmix` to make sure the mixture you want is at least loaded correctly.

[2019-04-26 14:20] grgbellasvki commented on #66
Just a quick update for discussion:
The ifort and icc compiler seems to be working fine, but I get some issues with pgcc and pg++. The compilation crashes at the MultiPhaseFlowSolver class. Is there any assembly code there, or something similar? It seems the issue comes from the assembler. pgfortran for the wrapper and gcc for the main code is also working fine.

[2019-04-26 14:36] jbscoggi commented on #66
Hey @grgbellasvki, can you provide the error reported?

[2019-04-26 14:41] grgbellasvki commented on #66
I will provide the full compiler report, but briefly it says:
assembler pgi linux invalid character "{" in mnemonic

There is no error from the compiler.

[2019-04-26 15:15] grgbellasvki commented on #6
This issue is very wide. I am going to close it and start creating sub-issues, in order to make the integration smoother. The first step is to add the carbon oxidation model for ablation, soon to be extended into carbon nitridation too.

[2019-04-26 15:15] #6 closed

[2019-04-26 15:28] grgbellasvki opened #68 "Addition of carbon oxidation detailed reaction mechanism in GSI module"
This issue is to add in Mutation++ the ability to treat elementary GSI reactions. Emphasis will be given on ablation, and particularly the PSMM model. This work has already been performed and is available on request, but here the official, cleaner version will be implemented.

List of things that need to be added:
- New reaction type for elementary reactions.
- Reaction rates for detailed chemistr

[2019-04-27 00:30] jbscoggi commented on #7
Hey @grgbellasvki, this issue seems a little dead.  Is it safe to delete it?  If not, can you add a description?

[2019-04-27 01:19] grgbellasvki commented on #7
Short description added. I will close it in a couple of months if no one implements it and will reopen it on request.

[2019-04-28 18:05] grgbellasvki opened #69 "Consistent change of reference temperature for thermo."
Small comment for discussion @jbscoggi .
Many CFD codes use as a reference temperature T=0K instead of the 298.15K used by M++.
I recommend the creation of a function like:
shiftingConstantToZeroKelvin(double* const h_shift){
    h_shift = h(298.15) - h(0); // invalid code, but you get the idea
}

This is particularly important for NASA polynomials, where calling the enthalpy function with T=0 giv

[2019-04-29 09:21] jbscoggi commented on #69
Hey @grgbellasvki, yes this is something that I wanted for a while.  I think it might make more sense to shift the formation enthalpies for all the species.  You could have some function like `setReferenceTemperature(double T)` in `ThermoDB` which allows the user to set it to whatever they want for any database.  Since the shift does not depend on the type of database (just formation enthalpy and

[2019-04-29 09:47] jbscoggi opened #70 "Broken fortran example compilation"
After the last PR (#67), it seems the compilation of the fortran example was broken.  Here is the error when I try to build with the fortran wrapper:

[code]

This should be fixed and a new tests should be added to make sure this is caught next time.  @rubendibattista, do you have time to take a look?

[2019-04-29 19:31] #70 closed

[2019-04-30 07:24] rubendibattista opened #72 "New release?"
Could you please tag the new version `0.3.1`? This would make third party packaging quite easier :)

[2019-04-30 20:33] jbscoggi commented on #72
Done!

[2019-04-30 20:33] #72 closed

[2019-05-07 08:30] lkampoli opened #73 "Four-Temperature model (for air5)"

[2019-05-09 14:40] grgbellasvki commented on #73
Just quick thoughts:
You have your own RRHO model right? Maybe this should be the first step, create something like RRHO3Tv.

Maybe overload the "enthalpy" function in the thermo_db with an ArrayXd for the associated temperature. In the base class point it to an error.

Then overload the speciesHOverRT exactly as you say. Inside the function, Map the pointer to an ArrayXd. Maybe this is inefficien

[2019-05-10 17:08] grgbellasvki opened #74 "Jacobian segmentation fault"
I have noticed a segmentation fault when calling the jacobianRho method.
Furthermore there is a bug for some jacobian terms for reactions like:
N2+N=N+N+N when they are not considered as third body.

I have fixed the second issue and currently working on the first one. A unit test for the jacobians for a "fake" air5 mixture will be also committed.

[2019-05-14 07:43] lkampoli commented on #73
@grgbellasvki Thanks, it helped!
One more question:
I'm writing the function for the production terms in Kinetics.cpp, R_diss_rec. How can I retrieve and use in the new function all the temperatures (T, Tv1, Tv2. Tv3) which I defined in `ChemNonEqT3TvStateModel.cpp`?
And similarly, how can I retrieve the Arrhenius parameters which are read from file elsewhere?

Thanks,
Lorenzo

[2019-05-14 07:53] lkampoli commented on #73
Ok, for temperatures, I added a function in Thermodynamics which points to StateModel.

[2019-05-14 20:18] grgbellasvki commented on #73
@lkampoli We could provide more help if we could see your code.
Could you open a temporary pull request, or point us to a branch?

[2019-05-14 20:23] lkampoli commented on #73
Hello,

yes I plan to do it within this week. I would like to finish to add diss/rec, VT and VV, so that you can see all processes.

Regards,
Lorenzo

[2019-05-16 14:34] jbvos opened #76 "Equilibrium state-model hangs when computing temperature"
We coupled the Mutation++ equilibrium solver to a CFD solver. We try to make a calculation for 5 species air, start from free stream conditions, but the solver hangs in the 2nd step when sending the state to Mutation++. In addition there is the issue of error messages in EquilStateModel.cpp (around line 112) , it fills the disk. I also added a break to quit the iteration loop if it is not convergi

[2019-05-16 15:14] jbscoggi commented on #76
Hi @jbvos, can you provide the exact input to the setState() function that is causing it to hang?  That way, I can try to reproduce the problem.

[2019-05-16 15:27] jbvos commented on #76
This is the print statement in the fortan program:

      if (n == 7485) then
      print'(a,i6,2e21.12)','rho=',n,rho(n),rhoe
      print'(a,i6,2e21.12)','p,t=',n,p(n),t(n)
      endif

               call mpp_set_state(rho(n),rhoe,impp)

This is for the first block

rho=  7485   0.510484261795E-03   0.977054025998E+04
p,t=  7485   0.448499999125E+02   0.379949999259E+03

This is for the 2nd bloc

[2019-05-16 15:49] jbscoggi commented on #76
Can you please explain how the pressure and temperature are computed/used here?  They are unchanged between between the two calls.

[2019-05-16 15:56] jbvos commented on #76
I just print them for info, they are from the previous time step. The way I compute them:

               call mpp_get_temperatures(tnew)
               pnew  = mpp_pressure()

I played around with relaxation:
!
               delt = told - tnew
               if (abs(delt) > 500.) then
                  delt = sign( min(abs(delt),0.5*told) , delt)
               endif
!
               t(n) = told

[2019-05-16 15:57] jbvos commented on #76
I have to leave in about 5 minutes, but I will check again this evening

[2019-05-16 16:05] jbscoggi commented on #76
OK, no problem.  I will not have a chance to get into this tonight, but I just wanted to get a few details to help when I have time to take a look.

[2019-05-17 10:10] jbscoggi commented on #76
Hi @jbvos, I have tried to reproduce your problem with no success.  Can you please specify exactly which state model name you are using and the value of `impp` in the code snippet above?

[2019-05-17 10:17] jbscoggi commented on #76
To be more specific, here is the test case I have tried

[code]

This gives T = 5301.53 K and P = 1280.28 Pa.

[2019-05-17 18:24] jbvos commented on #76
I am not surprised, I tried to do the same but then it works. I was wondering whether there is an accumulation of errors or a problem with an overwrite.

I use the Statemodel air5, impp equals zero.

[2019-05-17 18:52] jbscoggi commented on #76
air5 should be the mixture name, I was wondering what you chose as the state model name.  It should be either Equil or EquilTP.  If its EquilTP, then it could explain the problem...

[2019-05-20 05:54] jbvos commented on #76
Equil

[2019-05-24 13:44] lkampoli opened #78 "Selecting energy tranfer mechanism"
Dear all,
I was wondering whether it is possible to select the energy transfer mechanism.
For example, only consider VT (OmegaVT) and not the others and so on ...
As far as I understand, there is not such option and consequently I don't see in MixtureOption something like opts.setEnergyTransfer. It means that all available mechanisms defined in the concrete class of the StateModel will be consider

[2019-05-24 14:04] jbscoggi commented on #78
Hey @lkampoli, that is correct at the moment.  The only way to "select" which terms to include would be to change this in the concrete state model class.  In principle, it is not very hard to add an option for this though.  The basic idea would be to self register each class that represents a transfer term with a given name, and then provide an option which takes a list of names (terms) to include

[2019-05-24 14:26] lkampoli commented on #78
@jbscoggi  thank you for hints. Yes, I like such OOP organization. For the moment, I just added Variable Soft Sphere (VSS) and Forced Harmonic Oscillator (FHO) more ore less hard-coded in the transfer environment.
Anyway, as you said, in principle, the work to do is well-defined.

[2019-05-26 20:31] jbscoggi commented on #76
Hi @jbvos, I still have not been able to reproduce the problem.  Do you think you could provide the state that you set just before the one before it hangs on?  In other words, it looks like you are printing only for cell 7485, but can you also provide 7484?  Until I can reproduce the problem, it is not really possible to debug.  Thanks.

[2019-05-26 20:32] jbscoggi commented on #39
Hey @amorosej, any luck figuring out this bug?

[2019-05-27 07:35] jbvos commented on #76
I know, I tried to isolate the problem too, but did not manage. I am traveling this week, but I will try to see what I can do this evening.
About the GSI model, I tried to run the different cases we used for the Ablacat project, but I get the error message

M++ error: invalid input.
input: key = gamma_energy
Provider <gamma_energy> for type SurfaceProperties is not registered.  Possible providers

[2019-05-27 08:20] jbscoggi commented on #76
@grgbellasvki, can you take a look at the last comment by @jbvos?  Thanks.

[2019-05-27 09:34] grgbellasvki commented on #76
Considering the gsi problems there are two things:
1) I think you need to update your Mutation++. GSI was till very recently only in a personal branch, and was moved to master one month ago, when we added the energy balance. For this reason it is complaining that it doesn't find "gamma_energy", but only "gamma".
2) Since the version you were using during ablacat some things have changed for clarit

[2019-05-28 04:45] jbvos commented on #76
Ok, thanks, please let me know exactly which version of Mutation++ I need to have/download. I also attach the different gsi files we used in Ablacat. I use the fortran wrapper. Many thanks for your help
[gsi.tar.gz](https://github.com/mutationpp/Mutationpp/files/3225712/gsi.tar.gz)

[2019-06-03 10:27] jbvos commented on #76
I am for a few hours in my office, and I printed the input for a few other points in the grid:

rho=  7480   0.456073574855E-03   0.617581118526E+04
rho=  7481   0.456083566995E-03   0.617609636132E+04
rho=  7482   0.456145930175E-03   0.615630267017E+04
rho=  7483   0.456199742381E-03   0.613609481969E+04
rho=  7484   0.456141749894E-03   0.615371133006E+04
rho=  7485   0.510484261795E-03   0.977

[2019-06-04 12:14] grgbellasvki commented on #76
The latest version of Mutation++ should work fine. Note, that the fortran wrapper has a few functions slightly changed (mainly name).
Steady state pyrolysis is not available for the time being. Since nobody is currently using it, I was planning to implement it only on request. Do you need it?

Can you please send me the single gsi file you want to use? I cannot modify all of them.
When you update

[2019-06-04 14:11] vincentfitz opened #79 "Installation issues"
Dear all,

I'm having troubles installing the latest release of mutationpp both on Mac OSX and Linux. I think some new informations are missing from the installation instructions guide.

I think the issue is related to Eigen3 and the install dependencies file ( install_dependencies.py) that is now missing from the package.

Eigen3_DIR                                   Eigen3_DIR-NOTFOUND
Eigen3_IN

[2019-06-04 14:39] jbvos commented on #76
I attach one of the gsi files. For steady state pyrolysis, I think we never used it, but I need to check

[gsi.zip](https://github.com/mutationpp/Mutationpp/files/3252948/gsi.zip)

Thanks a lot for your help

[2019-06-04 20:41] rubendibattista opened #80 "Check if we can ship Eigen3 include path at config time"
See #79 for reference. Maybe we can ship `Eigen3` target together with `mutation++Config.cmake` in order to allow external project to more easily include `mutation++`.

I'll try to see what's possible.

[2019-06-04 20:41] rubendibattista commented on #79
Sorry for getting back to you late.

I imagine you already read the [coupling](https://github.com/mutationpp/Mutationpp/blob/master/docs/coupling.md) short doc. (@jbscoggi shouldn't this be in the Wiki? I cannot find it).

The problem with `Eigen3` dependency is that it's a `PUBLIC` dependency of `Mutation++` that needs to be propagated downstream when you include `mutation++` in another project s

[2019-06-04 21:01] rubendibattista commented on #79
To add additional details: `Eigen` is an header-only library, but new versions of it install correctly a `Eigen3config.cmake` file in the system. So if you compile `mutation++` against a system-wide installed version of `Eigen`, you should not encounter any problems since `cmake` should be able to locate it correctly.

Now, if you install `mutation++` using its own version of `Eigen` (stored in th

[2019-06-04 21:09] rubendibattista commented on #80
I'm conflicted.

In my opinion `Eigen` should not be shipped with `mutation++`. It's generally provided by the system package managers, and if not, people should install it on their own. Moreover if they do that from newish Eigen versions, they correctly get the `EigenConfig.cmake` and everything should go smoothly (provided that they instruct `cmake` on where to find it using the `Eigen_DIR` vari

[2019-06-04 21:09] #80 closed

[2019-06-06 08:52] jbscoggi commented on #3
I'm closing this as most of the functionality discussed here is now in the docs through the readme page.  The main remaining issues are to provide the most recent documentation somewhere and to setup a forum, possibly with discourse.  As the documentation can be built from the source with Doxygen, this is not a crucial requirement for now, just a nice feature.  The issue tracking on GitHub is serv

[2019-06-06 08:52] #3 closed

[2019-06-06 08:53] jbscoggi commented on #13
After some offline discussion, we don't feel this is a must-have for v1.0.0, so I'm removing the milestone.

[2019-06-06 08:54] jbscoggi commented on #74
Since this seems to be a very rare bug, I think we can remove the v1.0.0 milestone, and include the fix as a bug fix to v1.0.0 when it is ready.

[2019-07-03 10:06] mutationpp opened #84 "make docs doesn't work"
Since a recent PR, the Doxygen build is broken.

[2019-07-03 13:09] elsalaaarsson opened #85 "Missing data for uncommon gases"
Hello!

I am doing research into a laser ablation thruster for cubesats, and am trying to find data on the gases that my polymer produces to put into my OpenFOAM and dcmcFoam+ simulations. After trying, and failing, to find viscosities and Prandtl numbers for my different components online and in books, I tried using mutation++ and am super impressed by the software, although it doesn't seem to ha

[2019-07-03 13:38] jbscoggi commented on #85
Hey @elsalaaarsson,  just to clarify, the species are N2, H2, CO, HCN, NH3, H2CO, CH4, C2H2, and C3H4 and the numbers that prefix are their relative amounts?

[2019-07-03 13:41] elsalaaarsson commented on #85
Yes, exactly! Although I made a mistake, and the last one shouldn't be C3H4, but instead C2H4, also known as Ethylene.

[2019-07-03 14:35] jbscoggi commented on #85
OK, cool.  Here is a preliminary mixture file definition:

[code]

This uses a custom database that we have created in a [recent paper](https://www.researchgate.net/publication/314649282_Thermodynamic_properties_of_carbon-phenolic_gas_mixtures).
I am assuming by H2CO you mean formaldehyde, which is denoted as HCHO in this database.

As for the transport properties, I will need to investigate a lit

[2019-07-03 14:36] jbscoggi commented on #85
Note, you need create a mixture file (for example laser_ablation.xml).  Then you can compute equilibrium properties with mppequil.

[2019-07-03 14:52] jbscoggi commented on #85
Hey @elsalaaarsson, here is an updated mixture model which uses the simple NASA-9 database.  Note there are a few differences in the species names.

[code]

With this, almost everything you need is available in M++ to compute transport as well.  If you can just find the dipole-polarizability of NH3, that is the only piece of information we need to complete the model.  Can you find that and get bac

[2019-07-03 14:58] elsalaaarsson commented on #85
Hi, @jbscoggi ! Thank you so much for your help.
When I did as in your first message, I got this warning message:
Warning: the NASA-9-New thermodynamic database is assembled from a collection of sources and is still being vetted. See Scoggins et al. Aerospace Science and Technology 66:177-192, 2017. for more details.  The name of this database may change in the future.

I will try the updated appr

[2019-07-03 15:04] elsalaaarsson commented on #85
This might be a stupid question, but after I have run ...
`mppequil laserAblation2.xml`
(The code in your recent post was put in the new file laserAblation2.xml)
... I got no messages at all. How do I extract the information about the mixture?

I am using Ubuntu and am doing this straight in Terminal. Very new to all of this, so please bear with me!

[2019-07-03 15:07] gbogopolsky opened #87 "Build error on Fedora 28, gcc 8.3.1: libmutation++.so not found"
On Fedora 28, while building with gcc 8.3.1 20190223 (Red Had 8.3.1-2), `checkmix` and `mppequil` return the following error on execution:
`checkmix: error while loading shared libraries: libmutation++.so: cannot open shared object file: No such file or directory`.

Comparing to a working build on Ubuntu 18.04, gcc-7, I notice that `libmutation++.so` is found in `Mutationpp/install/lib` whereas it

[2019-07-03 15:07] jbscoggi commented on #85
Here is some documentation on [mppequil](https://github.com/mutationpp/Mutationpp/blob/master/docs/mppequil.md#top).  Otherwise, you can type `mppequil -h` for the same help.

Best

[2019-07-03 15:23] elsalaaarsson commented on #85
Okay, so I ran the command `mppequil laserAblation2.xml` which just gave me a bunch of empty rows and then I did:
`mppequil -T 1548 -P 1029.4 --species-list "N2 H2 CO HCN NH3 HCHO CH4 C2H2 C2H4" --elem-x "C:0.25, H:0.41666667, N:0.25, O:0.08333333" -m 3,5,9,24,32,33 >mixture.txt`
which gives me the following error message:

[2019-07-03 15:27] elsalaaarsson commented on #85
Do I need to do anything to get that custom database that the paper you referenced was discussing?

[2019-07-03 15:28] jbscoggi commented on #85
Can you try:

[code]

That will probably still give you errors because the transport data is not ready.  If you only ask for thermodynamic properties, you should be good.

[2019-07-03 15:35] elsalaaarsson commented on #85
Yes thank you, you're absolutely right, it works when I remove 32 and 33 from the command.

I'm still looking for reliable data on the dipole-polarizability of NH3, will get back to you when I find it.

Thank you for all your help!

[2019-07-03 16:09] elsalaaarsson commented on #85
According to the cited article, the dipole-polarizability of ammonia (NH3) is as follows:
Perpendicular: 13.6, Parallel: 15.3, Average: 14.2

https://mro.massey.ac.nz/bitstream/handle/10179/1694/02_whole.pdf

[2019-07-03 17:33] rubendibattista commented on #87
The correct lib path on RHEL distros is automatically retrieved by cmake to
be <install_prefix>/lib64. It should also be automatically linked for the
executables.

Did you clean up your previous builds? Did you start the build from scratch?

Can you list all the steps you take to produce the error?

On Wed, 3 Jul 2019, 17:07 Guillaume Bogopolsky, <notifications@github.com>
wrote:

[2019-07-04 08:21] gbogopolsky commented on #87
Thanks for the info, I didn't know that.

I start the build from scratch (a fresh git clone), following the prescribed steps from [here](https://github.com/mutationpp/Mutationpp/blob/master/docs/installation.md#top),
ie the following steps:
- Set the exports in `.bahsrc`
- `mkdir build`
- `cmake -DCMAKE_INSTALL_PREFIX:PATH=$(realpath ../install) ..`
- `make -j 4 install`

Redoing the steps made me

[2019-07-04 12:42] rubendibattista commented on #87
Exactly, the solution is to correctly export the right `LD_LIBRARY_PATH`
(on Linux).

The current behavior is the standard one. Because by default a library gets
installed in the system prefix (normally `/usr/local`) plus the "LIBDIR".
On RHEL based distros the library path for x86_64 libraries is `lib64` and
not `lib`, and the operaring system is instructed to look for them there
(even if there a

[2019-07-05 07:33] gbogopolsky commented on #87
Thanks a lot for your explanation.

Maybe adding a line in the instruction installation for RHEL based distributions?

[2019-07-05 07:33] #87 closed

[2019-07-05 08:48] elsalaaarsson commented on #85
@jbscoggi Would you be able to update the database with these numbers so I can calculate the thermal conductivity and viscosity as well?

Kind regards,
Elsa

[2019-07-05 13:49] jbscoggi commented on #85
Perfect, I will take care of that this weekend and get back to you.

[2019-07-05 14:07] elsalaaarsson commented on #85
Thank you so much! Have a good weekend!

[2019-07-08 10:40] #84 closed

[2019-07-08 11:19] jbscoggi commented on #85
Hey @elsalaaarsson, we had a few issues to work on to get our testing framework working again but that seems to be fixed.  I have added a new pull request #90 which should give you everything you need.  It might take an hour or two for all the current PRs to pass through the pipeline, but once it is through I'll let you know.

[2019-07-08 13:52] jbscoggi opened #91 "Elec. levels of ionized species not parsed correctly when reading reaction formula"
I'm working on an Ar STS mechanism which has electron/atom impact ionization reactions where the ion Ar+ is split into two separate levels.  When reading these reactions, for example

[code]

I gen an error:

[code]

Obviously, the problem seems to be that the parser sees `Ar+` and then thinks that is the species name without continuing to capture the `(0)` part.

@amorosej, I think I remember you

[2019-07-08 17:37] jbscoggi commented on #85
Hi @elsalaaarsson, the PR has gone through, you can now do a `git pull` in your mutation++ directory to update your version.  Let me know if you have any problems.  If all goes well, I will close this issue.

[2019-07-08 18:08] jbscoggi commented on #91
Never mind @amorosej, I think I have fixed this issue.  Waiting for the tests to complete to be sure.

[2019-07-09 07:18] jbscoggi commented on #79
Hey @vincentfitz, is this problem solved for you?  If so, I will close the issue.

[2019-07-09 07:39] elsalaaarsson commented on #85
Hi, @jbscoggi ! When doing `git pull`, it says that it's already up-to-date but still won't work. I copied the changes you made to the transport data file into the one in my installation as well and made a file differences check to make sure our files are identical, which they were. The errors it gives me are "Missing collision integral...".

[2019-07-09 07:44] rubendibattista commented on #85
@elsalaaarsson what is the last commit when you do `git log`?

[2019-07-09 07:45] elsalaaarsson commented on #85
commit 433e4ca82f043004a1d6300188ddef8a5194fe86
Merge: 43f3a98 def2878
Author: James B. Scoggins <james.scoggins@vki.ac.be>
Date:   Thu Oct 25 16:47:48 2018 +0200

[2019-07-09 08:01] rubendibattista commented on #85
Mmmh, are you sure to be using the right repository? The last commit is about 1 year old.

`git remote get-url origin`?

[2019-07-09 08:08] elsalaaarsson commented on #85
@rubendibattista No, as a matter of fact there were several things I had to add to my transport data file, so I might have an old version. This is what `git remote get-url origin` returned: https://sync.vki.ac.be/mpp/mutationpp.git

[2019-07-09 08:18] rubendibattista commented on #85
Ok, your repo is pointing to the old one from VKI.

You have two solutions here:

* Just clone again the repo from here on Github and compile again.

* Update your repo with the correct url:
`git remote set-url https://github.com/mutationpp/Mutationpp.git`

And the your `git pull` should work.

[2019-07-09 08:20] rubendibattista commented on #85
@jbscoggi you should probably do something about the old repo.

[2019-07-09 09:14] elsalaaarsson commented on #85
Is this the correct version of the installation? https://github.com/mutationpp/Mutationpp/wiki/installation-guide
Because trying to install this, I noticed that this step:
[code]
doesn't work since there is no file called install_dependencies.py in the scripts folder.

I tried this since the command `git remote set-url origin https://github.com/mutationpp/Mutationpp.git` didn't work as it wasn't t

[2019-07-09 09:25] rubendibattista commented on #85
Mmmh, nope. I forgot to update that part. If you want to use the `Eigen` version that is shipped with `mutation`, it should work straight away when you run the configuration with `cmake`. You don't need to install the dependencies manually. It should automatically find `Eigen` in the right `thirdparty` folder.

Just skip that step and go to the next one and come bac to us if you have problems.

[2019-07-09 09:30] rubendibattista opened #93 "Update install instructions"
- [x] `install_dependencies.py` was removed
- [x] On RHEL `LD_LIBRARY_PATH` should point to `lib64`.
- [x] `cmake` now needs the install prefix specified

Maybe before this we can discuss how to handle `thirdparty` in a smarter way to keep it up to date. e.g. on another project I download at configure time the third party libraries directly using `cmake`, but there's a problem here: with new `catc

[2019-07-09 09:41] elsalaaarsson commented on #85
I'm still getting errors. What I did was I installed the new version following the instructions in the link I sent, but skipping the step I had issues with and just continued with the installation.

I then created a file called laserAblation.xtl including the following:
[code]
and run the command  `mppequil -T 1548 -P 1106507.818257603 -m 3,5,9,24 laserAblation > mixture.txt` which gives the error

[2019-07-09 09:42] elsalaaarsson commented on #85
I did also run `git pull`, but once again it just said that I already have the latest update.

[2019-07-09 10:59] rubendibattista commented on #85
Are you on Fedora/CentOS?

Can you paste here the output of: `echo $LD_LIBRARY_PATH`?

And also the content of the install folder?

[2019-07-09 11:04] elsalaaarsson commented on #85
No I'm using Ubuntu, v18.04.2

Here's the output:

/home/elsa/Mutationpp/install/lib:/home/elsa/OpenFOAM/ThirdParty-v1706/platforms/linux64Gcc/fftw-3.3.6-pl1/lib64:/home/elsa/OpenFOAM/ThirdParty-v1706/platforms/linux64Gcc/CGAL-4.9.1/lib64:/home/elsa/OpenFOAM/ThirdParty-v1706/platforms/linux64Gcc/boost_1_64_0/lib64:/home/elsa/OpenFOAM/ThirdParty-v1706/platforms/linux64Gcc/gperftools-2.5/lib64:/home

[2019-07-09 11:05] rubendibattista commented on #85
The content of `/home/elsa/Mutationpp/install`, please :)

[2019-07-09 11:08] elsalaaarsson commented on #85
That doesn't exist haha, sorry...
![Screenshot from 2019-07-09 12-07-51](https://user-images.githubusercontent.com/52160593/60883473-34ddc080-a242-11e9-9e11-2b73bdcc7dd0.png)

[2019-07-09 11:18] rubendibattista commented on #85
Mmmh, so there are some problems with your configuration (and with our readme, see #93).

1. In your `$LD_LIBRARY_PATH` you have the old `/home/elsa/mutation++/install/lib`. This is probably set in your `.bashrc`. You probably should delete  it once the new version works to avoid path collision. You probably have a similar entry also in the `$PATH`.
2. Currently, with the new version, `mutation++`

[2019-07-09 11:38] elsalaaarsson commented on #85
Thank you! After the cmake command, do I need to do anything else?

This is my `echo $PATH` output:
/home/elsa/Mutationpp/install/bin:/home/elsa/OpenFOAM/ThirdParty-v1706/platforms/linux64Gcc/gperftools-2.5/bin:/home/elsa/OpenFOAM/ThirdParty-v1706/platforms/linux64Gcc/ParaView-5.4.0/bin:/home/elsa/OpenFOAM/elsa-v1706/platforms/linux64GccDPInt32Opt/bin:/home/elsa/OpenFOAM/site/v1706/platforms/linux

[2019-07-09 11:44] rubendibattista commented on #85
There's something indeed setting up those env variables. Check inside `.bashrc`, `.bash_profile` and `.profile` if there's something related to mutation. Then open a new terminal shell and:

* Remove the `build` directory
* Create a new one
* Follow the install instructions skipping the dependencies step, and instead of just doing `cmake ..` you do the cmake command I gave you in the previous comm

[2019-07-09 12:47] elsalaaarsson commented on #85
It's working!!! Thank you so much for all the help!

One last question; if I wanted to check the properties of all the components alone in my mixture, what would be the best way to do this? Do I need to create new .xml files for each component?

[2019-07-09 12:50] jbscoggi commented on #85
Thanks @rubendibattista!

@elsalaaarsson, for your last question.  The easiest would be to use mppquil but instead of specifying a mixture, use the --species-list and --thermo-db options.  For example, you could do

[code]

That should work!

[2019-07-09 13:08] elsalaaarsson commented on #85
I keep getting a "floating point exception" error. I've tried a bunch of different formats but don't seem to be able to get it right. Would you be able to help me piece it together?

mppequil --species-list "NH3" --thermo-db "NASA-9" -T 1548 -P 1106507.818257603 -m 3,5,9,24,32,33 > NH3.txt

[2019-07-09 13:15] jbscoggi commented on #85
Hmmm, indeed this is what I get...

[code]

There seems to be a bug with using only one species because if I get this if I add N2

[code]

I will add this as another issue.  I think for your original question of wanting data for your mixture.  This has been solved.  In the meantime, note that you can get some pure species quantities with mppequil using a mixture.  Take a look at the species proper

[2019-07-09 13:15] #85 closed

[2019-07-09 13:16] jbscoggi opened #94 "Floating point error using only one species in mppequil"
Refer to #85 for an example.

[2019-07-09 13:17] jbscoggi commented on #91
Fixed with #92, closing.

[2019-07-09 13:17] #91 closed

[2019-07-09 15:19] elsalaaarsson commented on #94
Trying to run the same command as you in #85 I get the following:
[code]

[2019-07-09 15:25] rubendibattista commented on #94
I think the different error depends on the compiler/OS. Probably on macOs it does not crash on floating point exception but instead returns a `nan`.

[2019-07-09 15:37] elsalaaarsson commented on #94
Thanks, @rubendibattista , that would make sense.

[2019-07-11 14:13] vincentfitz commented on #79
Yes at the moment is partially solved. I’m able to install and plug Mutation++ to my CFD solver but I had to manually set the CMAKE_INSTALL_PREFIXl path to something different from /usr/local  and manually move the Eigen folder to install/include/mutation++ I understand that this issue is due to an out-of-date configuration script of COOLFluiD that doesn’t automatically detect Eigen location.

Sor

[2019-07-16 15:01] elsalaaarsson opened #95 "Sutherland Viscosity Equation Coefficients"
Hi!

I am trying to run one OpenFOAM and one dsmcFoam+ case expanding a supersonic flow of the same mixture of gases through a nozzle. In OpenFOAM, I want to use the Sutherland viscosity model to make viscosity dependent on temperature, but am having trouble finding the constant values for my gases as some are quite uncommon. Could mutation++ be used to find these?

My mixture consists of the same

[2019-07-17 09:16] #95 closed

[2019-07-18 11:53] elsalaaarsson commented on #94
Hey, how is this bug coming along? :)

[2019-07-18 12:23] jbscoggi commented on #94
Hey @elsalaaarsson, I'm sorry I have been very busy the last two weeks.  I will try and take a look at it this weekend.

[2019-07-18 13:40] elsalaaarsson commented on #94
No worries!

[2019-08-12 15:38] jbscoggi commented on #74
After discussing with @grgbellasvki, we came up with a nice solution that can be incorporated into the current tests.  I will take ownership of this bug and work on it.

[2019-08-13 14:54] jbscoggi opened #97 "Duplicate job in travis-ci config."
There is a duplicate job in the travis-ci config which can be removed.  In particular, this is written twice:

[code]

It is very easy to fix, just didn't want to forget about it.

[2019-08-13 15:28] #74 closed

[2019-08-14 06:24] #79 closed

[2019-08-14 08:44] jbscoggi commented on #97
Fixed in #98.

[2019-08-14 08:44] #97 closed

[2019-08-26 14:33] soy15 opened #99 "Installation problem"
Hello all,
I am having a installation problem. I did all steps which are written on mutationpp installation instructions, but on test step, when I write a checkmix air_11, there is a such error that I am having :
"checkmix: error while loading shared libraries: libmutation++.so: cannot open shared object file: No such file or directory"
Can you help me with this issue?
Thank you in advance.

[2019-08-26 14:37] rubendibattista commented on #99
Hello @soy15,
Can you please paste all the steps you're following on your terminal from the beginning to the error? (Including all the output of the error)

Thanks! :)

[2019-08-26 15:24] soy15 commented on #99
--help-module <mod> [<f>]    = Print help for one module and exit.
  --help-module-list [<f>]     = List modules with help available and exit.
  --help-modules [<f>]         = Print cmake-modules manual and exit.
  --help-policy <cmp> [<f>]    = Print help for one policy and exit.
  --help-policy-list [<f>]     = List policies with help available and exit.
  --help-policies [<f>]        = Print cm

[2019-08-26 15:26] rubendibattista commented on #99
Did you set these environment variables: https://github.com/mutationpp/Mutationpp/wiki/Installation-guide#linux

[2019-08-26 15:29] rubendibattista commented on #99
(In particular, it looks like to me that you are on `Ubuntu`, and the the line about $LD_LIBRARY_PATH probably must be modified like this:)

`export LD_LIBRARY_PATH=$MPP_DIRECTORY/install/**lib64**:$LD_LIBRARY_PATH`

See #87 for another similar problem. We'll update the install instructions ASAP (#93)

[2019-08-27 08:49] adelval1 opened #100 "Problem with wrapper"
Hello,

I leave the issue with the coupling stagline/m++ here. When installing the stagline I get:

[ 94%] Linking Fortran executable stagline
Undefined symbols for architecture x86_64:
  "_mpp_get_wall_state_", referenced from:
      ___mod_mutationpp_library_MOD_mutationpp_get_wall_state in mod_Mutationpp_library.F90.o
  "_mpp_set_wall_state_", referenced from:
      ___mod_mutationpp_library_MO

[2019-08-27 20:58] khansson opened #101 "CMake Export"
Does a FindMUTATIONPP.cmake already exist or does mutationpp have a cmake export?

https://cmake.org/cmake/help/v3.12/command/export.html

Ideally, cmake should be able to find mutationpp and the associated lib and include directories right from either a Mutationpp_ROOT_DIR or the MPP_DIRECTORY environmental variable.

[2019-08-27 21:00] rubendibattista commented on #101
@khansson `mutation++` exports a `mutation++Config.cmake` file since `v1.0.0`. Did you tried it?

[2019-08-27 21:01] rubendibattista commented on #101
It's located (as normally) in `<install_dir>/lib/cmake`

[2019-08-28 13:43] #101 closed, assigned to nobody

[2019-08-29 09:13] rubendibattista commented on #101
@khansson No problem. :)

@jbscoggins, can you maybe archive the gitlab repository on VKI servers (maybe editing the `README` and the description there saying that the official repo is here now?)

It's not the first one trying to apply modern recipes against old codebase.

[2019-09-11 17:33] rubendibattista commented on #99
@soy15 Any news?

[2019-09-11 17:56] soy15 commented on #99
Thank you very much, we have managed to install @rubendibattista

[2019-09-11 17:56] rubendibattista commented on #99
@jbscoggi You can close! :)
@soy15 Thanks for updating us :)

[2019-09-11 18:06] #99 closed

[2019-10-21 12:50] grgbellasvki commented on #100
Hello Anabel,

The functions should be changed inside stagline. Is the problem fixed so that I can close this issue?

[2019-10-23 12:08] jbscoggi commented on #93
Hey @rubendibattista, I keep getting questions offline about the installation instructions not working any more.  Do you mind updating the instructions to match the new procedure and then we can have a separate discusson about how to handle thirdparty deps?

[2019-10-23 14:55] athmargaritis opened #102 "Failing to converge in EquilStateModel::setState(p_mass, p_energy, 0)"
Hi everyone,
I have noticed an issue with the function `setState(rho,rhoe,0)` using the `EquilStateModel` for conditions that have **zero (specific) energy**.

### Example test

For a mixture of `air5`
`p ≈ 4127.07 [Pa]`
`T ≈ 416.4035 [K]`
one gets
`ρ  ≈ 0.0343909 [kg/m^3]`
`e  ≈  0.0737387 [J/kg]`
`ρe ≈ 0.0025359 [J/m^3]`
Trying to `setState` with these values (or similarly, with any combination

[2019-10-24 20:06] rubendibattista commented on #93
Ok, I'll try to work on it as soon as I have a bit of free time.

[2019-10-24 20:07] rubendibattista commented on #93
@jbscoggi Things in `/docs` are automatically updated with the stuff in the wiki?

Because if they're duplicated, that would also generate a lot of confusion.

[2019-10-25 07:30] jbscoggi commented on #93
Good point! I forgot all about the wiki.  I would prefer to move all documentation to docs and discontinue the wiki.  The main reason for this is that /docs can be versioned with the source allowing to maintain consistent docs over time.  I will try to go through the wiki soon and make sure there is nothing there that hasn't been moved to /docs and remove it.

[2019-11-20 16:50] grgbellasvki commented on #68
Closing this issue as old. My fork has a fully functioning version of the features above with tests. Will be added to the main code on request.

[2019-11-20 16:50] #68 closed

[2019-11-20 16:52] grgbellasvki commented on #7
Closing this issue as the described feature seems that it is not needed. Will reopen on request.

[2019-11-20 16:52] #7 closed

[2019-11-25 15:56] #93 closed

[2019-11-28 15:48] BBArrosDias opened #106 "Calling mutation from python script on macOS"
I am trying to call some mutation tools from a python script.
As a simple example, I am trying to use mppequil in the following way:

os.system('mppequil -h')

and I get the following issue:

dyld: Library not loaded: @rpath/libmutation++.dylib

In the terminal, if I do echo $DYLD_LIBRARY_PATH I see the path to libmutation++.dylib, but inside the script, if I do the same, the answer is empty.

I a

[2019-11-28 21:57] rubendibattista commented on #106
Let's say that calling the binaries from python is not so cool, because then you need to parse the output. Moreover you should use `subprocess` instead of `os.system`.

In any case those are not fixes to your problem I guess. I'll try next week on my Mac, but I guess that the real solution here would be to provide python binding to the C++ code.

[2019-11-28 23:03] jbscoggi commented on #106
@rubendibattista, I agree that calling M++ binaries from python is not the best and it would be really nice to have the Python wrapper working.  In this case though, I think Bruno is using python as a scripting language to run another code which is linked with M++, so that would not really help for this situation.

[2019-11-29 07:36] BBArrosDias commented on #106
@jbscoggi is completely right. I am using python to run other codes that are linked to m++. I have the same problem with bash scripts which are fixed by export the DYLB_library_path on the script.

[2019-12-06 16:29] CatarinaGarbacz opened #107 "Thermal conductivity for thermochemical nonequilibrium"
Hi all.
I am linking Mutation++ to a CFD solver considering thermal and chemical nonequilibrium. When it comes to computing transport properties from Mutation++, I have some questions on how to treat thermal conductivity.

In Transport.h, there is no function to compute thermal conductivity that explicitly refers to a reactive flow with 2 temperatures.

My first approach would be to use function f

[2019-12-06 19:10] rubendibattista commented on #106
Ok, I tested, and it works on my side.

1. Compile and install wherever you want. Let's call your install path `MUTATIONPP_INSTALL_PREFIX`.
2.` export DYLD_LIBRARY_PATH=$(realpath ./install/lib):$DYLD_LIBRARY_PATH` (`realpath` is not available on macOs natively, you need to install it using `brew` or `macports`. In any case you need to provide the absolute path...)
3. Run this python script:
[code

[2019-12-07 15:31] BBArrosDias commented on #106
@rubendibattista It works like a charm. Thanks a lot.
You, sir, deserve a free beer.

[2019-12-07 15:35] #106 closed

[2019-12-08 11:01] jbscoggi commented on #107
Hey @CatarinaGarbacz, yes you are correct that the frozenThermalConductivityVector is the correct function to call.  "Frozen" in this case refers to the opposite of equilibrium, just meaning that the species composition is not a function of temperature or pressure.  When this is the case, as in chemical equilibrium conditions, then an additional term called the "reactive thermal conductivity" must

[2019-12-08 11:06] jbscoggi commented on #102
Fixed in #103, closing.

[2019-12-08 11:06] #102 closed

[2019-12-08 11:07] jbscoggi commented on #100
This seems like a dead issue.  Closing.

[2019-12-08 11:07] #100 closed

[2019-12-09 11:57] CatarinaGarbacz commented on #107
Very clear JB, thank you!

[2019-12-09 12:48] jbscoggi commented on #107
Thanks! :)

[2019-12-09 12:48] #107 closed

[2020-01-31 16:40] CatarinaGarbacz opened #108 "Get T, Tv temperatures"
Hello,

I am using Mutation++ to initialize a thermal bath domain in a CFD solver, with the following conditions:

- air5 mechanism
- mass fractions: N2: 0.77 , O2: 0.23
- state model "ChemNonEqTTv"
- thermal equilibrium **T = Tv = 57K**,
that corresponds to
- **energy_density_mixture** = -6166.675192
- **vibrational_energy_density_mixture** =1.461811921e-14

 but right in the first iteration, the

[2020-02-06 08:12] jbscoggi commented on #108
Hi @CatarinaGarbacz, can you post a minimum working example showing this behavior?  I will use that to try and debug what's going on.  Thanks

[2020-02-06 10:12] CatarinaGarbacz commented on #108
Sure JB thanks. Just comment in or out the lines corresponding to case 1 or 2 to obtain the two different behaviors.

#include "mutation++.h"

using namespace Mutation;
using namespace Mutation::Thermodynamics;
using namespace std;

// Main entry point
int main()
{

    MixtureOptions opts("air5");
    opts.setMechanism("air5");
    opts.setStateModel("ChemNonEqTTv");
    Mixture mix(opts);

    i

[2020-02-09 16:15] jbscoggi commented on #108
Hey @CatarinaGarbacz, I looked into this and it seems that it's not really a bug, it's just the tolerance that is set for the Newton iteration to solve for the temperature.  What's happening is when you explicitly set the temperatures first (case 2) those temperatures are used as the initial guess for the Newton iteration when you call the second setState with energies.  Since those temperatures a

[2020-02-10 10:07] jbscoggi commented on #94
Hey @elsalaaarsson, I realize this is pretty late and you probably moved on but I just pushed a fix for this.  I hope it can still be helpful.

[2020-02-10 10:07] #94 closed

[2020-02-10 10:47] jbscoggi opened #111 "Codecov not working"
It seems Codecov is not working in the current CI setup.  The coverage build runs and returns as passing, but looking at the output log, it seems there is the following error on the last call to codecov:

[code]

Perhaps this is related to the recent switch to github actions?

[2020-02-10 10:56] rubendibattista commented on #111
Nope, It's related to auth of Codecov on Github. Let me see what I can do.

On Mon, Feb 10, 2020 at 11:47 AM J.B. Scoggins <notifications@github.com>
wrote:

--
          _
-.     .´  |∞∞∞∞
  ',  ;    |∞∞∞∞∞∞
    ˜˜       |∞∞∞∞∞∞∞∞∞ RdB
    ,.,    |∞∞∞∞∞∞
  .'   '.  |∞∞∞∞
-'       `'
https://rdb.is

[2020-02-10 10:57] rubendibattista commented on #111
![image](https://user-images.githubusercontent.com/8077364/74144162-84330780-4bfc-11ea-9362-69a38dc112e4.png)

You need to reconnect Codecov I guess. Or you can temporarily give me ownership so I can try to fix this.

[2020-02-10 11:02] rubendibattista commented on #111
I should also have fixed the CI runs for PRs.

[2020-02-10 14:55] CatarinaGarbacz commented on #108
Thanks JB for looking into it and for such a detailed explanation.  In my debugging process I had already got to some of those conclusions, but you provided me with a more complete understanding of what's happening.

To answer your question, indeed it is not mandatory to have 57K and I had already replaced this for 100K test-cases. But I thought it would still be good to understand the problem.

I

[2020-02-10 15:00] jbscoggi commented on #108
Hey @CatarinaGarbacz, to answer your last question, yes.  :)  I don't think you will see any difference using T=57 or T=100K.  For all practical purposes, the vibronic energy is zero in both cases.  Setting T=100 will just "look" nicer because the temperatures you get back in the free-stream will probably still be 100K.

[2020-02-10 16:09] CatarinaGarbacz commented on #108
ok thanks a lot for the feedback ! :)

[2020-02-10 16:10] jbscoggi commented on #108
Of course!  I will close this issue then.

[2020-02-10 16:10] #108 closed

[2020-03-06 10:22] #111 closed

[2020-03-06 10:27] jbscoggi commented on #78
It seems this issue was settled a while ago, so I'm closing.

[2020-03-06 10:27] #78 closed

[2020-03-06 10:29] jbscoggi commented on #76
Hi @jbvos, I was wondering if there is any updates to this issue?  I'm not sure if you have tried using the latest version of the library and still are having problems.  If everything is working, I will close this issue.

[2020-03-09 01:23] grgbellasvki opened #114 "mppshock functionality to be added"
A new feature named "mppshock" is being added. Given the free stream conditions in terms of pressure, velocity and temperature, "mppshock" solves:
1) The Rankine-Hugoniot relations to compute the post-shock frozen conditions.
2) The relaxed-equilibrium post-shock conditions (Bisection and Newton methods available).

The first iteration of the feature will assume thermal equilibrium. Thermal non-eq

[2020-03-09 07:15] jbvos commented on #76
I just downloaded the latest version of Mutation++ and I will try it out. I will come back to you
Best regards, Jan

[2020-03-09 10:09] jbvos commented on #76
Dear James

I downloaded and compiled the new Mutation++ version, but get problems with linking:

undefined reference to `mpp_set_wall_state_'
undefined reference to `mpp_get_wall_state_'

Have these routines been changed, or are they absent in the Fortran version?
Thanks for your help,
Best regards Jan

[2020-03-09 10:58] jbscoggi commented on #76
Hi @jbvos, I think these functions were renamed a while back when the GSI branch was more fully supported.  If you replace `wall` with `surface` in both function calls in your code, then I believe it should work.

[2020-03-09 11:03] jbvos commented on #76
Thanks, this worked. I will now go to the testing

[2020-03-09 14:41] jbvos commented on #76
It took some time. I had to copy the gsi data directory of an older distribution to the new one, and then I ran probably into another compatibility issue:

M++ error: error parsing file.
file: /soft/mutationpp-master/data/gsi/gsi_oxi.xml
line: 3
Error in surface_properties for the gsi imput file. Surface properties should provided. If no properties are needed they should set to 'none'.

The gsi_ox

[2020-03-09 16:04] jbscoggi commented on #76
@grgbellasvki can you help here please?

[2020-03-09 21:54] grgbellasvki commented on #76
The final format for the GSI file for carbon oxidation is shown below:
<gsi gsi_mechanism = "phenomenological_mass_energy">

    <surface_properties type = "ablation" >
        <surface label="b" species="C"
                 enthalpy_surface="0." />
    </surface_properties>

    <solid_properties
        virgin_to_surf_density_ratio = "1."
        enthalpy_virgin = "0.">
    </solid_properties>

[2020-03-10 15:58] jbvos commented on #76
I  took the file you provided:

<gsi gsi_mechanism = "phenomenological_mass">

    <surface_properties type = "ablation" >
        <surface label="b" species="C"
                 enthalpy_surface="0." />
    </surface_properties>

    <solid_properties
        virgin_to_surf_density_ratio = "1."
        enthalpy_virgin = "0.">
    </solid_properties>

    <surface_features
        solid_conduction

[2020-03-10 17:42] grgbellasvki commented on #76
Unfortunately no, but the changes are very simple. Most of the xml elements are completely unchanged, the only thing different is the overall structure of the file, which is more consistent with the current structure of the code.

It seems the comments here remove the parent xml element so I attach the whole files.
Is both the mass and energy balance solved on the surface? If yes, the following fi

[2020-03-10 18:43] jcschulz opened #115 "Type definition bug line 285 of Transport.cpp"
The variable `ei` should be a vector of integers, not doubles. See the following snippet:

[code]

This fixes the compile-time error when using the Intel 2018 compiler.

[2020-03-10 19:52] jbscoggi commented on #115
Hi @jcschulz.  Thanks for catching that.  Do you mind just submitting a PR with the update?

[2020-03-12 08:29] #115 closed

[2020-03-12 10:27] Zdenour opened #117 "Behavior at low temperatures"
Hello,
I remember we talked about this topic a long time ago, but I am not sure what was the conclusion.

I am trying to use Mutation++ to determine thermal and transport properties in our free-stream rebuilding code (based on CABARET) for the Longshot facility. We assume nitrogen in thermal equilibrium everywhere. The static temperature can be as low as 70K.

* The first issue is regarding **visc

[2020-03-12 10:51] jbvos commented on #76
This was helpful many thanks. The code started to run the case using both the smb_carbon_oxidation_park and seb_carbon_oxidation_park files
It will probably take some time before I have a result, I will let you know probably early next week.
Again many thanks

[2020-03-19 09:46] jbvos commented on #76
[Air_P250_T280_Tw2747.zip](https://github.com/mutationpp/Mutationpp/files/4353709/Air_P250_T280_Tw2747.zip)
[Air_P250_T280.zip](https://github.com/mutationpp/Mutationpp/files/4353710/Air_P250_T280.zip)

Sorry, it took some time but the calculations are rather long. I attach 2 results from GSI cases of the Ablacat project, one with imposed wall temperature, in the other one the temperature at the w

[2020-03-19 20:58] ChiaraAmato opened #118 "Fortran wrapper access to heavyThermalDiffusionRatios"
I have implemented the function "heavyThermalDiffusionRatios" in both cwrapper.h and cwrapper.cpp following the function "frozenThermalConductivity". However, when I run a testcase usign N2 and O2, I received that the Thermal diffusion ratios are zero for both species. Furthermore, can you confirm that the "heavyThermalDiffusionRatios" function is evaluating the coefficients for the temperature te

[2020-04-07 14:23] gsalaza3 opened #120 "Segmentation fault when using the mppequil to load pure species collision integrals"
I am getting a segmentation fault when trying to use the mppequil utility to load the pure species collision integrals "Omega11" and "Omega22". I have tested it with different mixtures and get the same error:

mppequil -T 300 -P 101325 -s 15,16 O2
  "Omega11_O[m^2]"  "Omega11_O2[m^2]"  "Omega22_O[m^2]"  "Omega22_O2[m^2]"
Segmentation fault

Thanks!

[2020-04-07 15:25] rubendibattista commented on #120
Hi @gsalaza3, can you please provide the **complete** steps you took to compile the software?
Could you also provide more information on the platform you're working with? `uname -a` on the terminal.

[2020-04-07 15:54] gsalaza3 commented on #120
Hey @rubendibattista . I cloned it this morning just to make sure I was using the latest, but I followed the steps on the installation page (https://github.com/mutationpp/Mutationpp/blob/master/docs/installation.md#top) :

cd mutationpp
mkdir build
cd build
cmake -DCMAKE_INSTALL_PREFIX:PATH=/beegfs/users/gsalazar/codes/mutationpp/install ..
make -j 4 install

Here's the output of that "uname" comm

[2020-04-08 14:35] rubendibattista commented on #120
Ok, can you please upload the `strace.log` file produced by the following command:
[code]

and also the output of the following commands:

[code]

[2020-04-08 14:37] rubendibattista commented on #118
Ehi @ChiaraAmato, maybe it would have a better luck if you can provide a Pull Request. So we can maybe comment your modifications directly there.

Do you think you can do that?

[2020-04-08 14:56] ChiaraAmato commented on #118
Yes, I can. I just need to create a branch and then a “pull request”, right? If so, I will do it now.

Thank you so much.
Chiara Amato
Ph.D. Student in Hypersonics,
Graduate Women Coordinator
Department of Aerospace Engineering
University of Minnesota
National Hypersonic Research Center, Akerman Hall 230
E-mail: amato017@umn.edu <mailto:amato017@umn.edu>
Mobile: (651) 494-8409

[2020-04-08 15:05] rubendibattista commented on #118
You need to create a fork, than you'll be able to make a PR. There're plenty of guides online ;)

[2020-04-08 16:27] ChiaraAmato commented on #118
I did create a Pull Request. Please, let me know if everything is ok.
Thanks :)

[2020-04-08 20:16] jbscoggi commented on #120
Hi @gsalaza3, I have fixed this bug in #122.  It was just a simple mistake in mppequil.  Assuming all the tests pass, we can merge the PR and this should be closed.

@rubendibattista, since you were handling this, do you mind to do the code review (should be very quick)?

[2020-04-09 02:51] gsalaza3 commented on #120
Thanks @rubendibattista and @jbscoggi  for the quick help with this one!

[2020-04-09 10:14] jbscoggi commented on #120
Hi @gsalaza3, the fix is now merged.  It should work if you pull the latest version.

[2020-04-09 10:14] #120 closed

[2020-04-22 07:14] ggange opened #124 "Mutation coupling"
Hello,
I am performing a coupling in C++ of M++ to my solver. I linked the .so to the program with cmake (without any alert rising) both on my workstation and a public one (VKI). The source files (and mixture/mechanisms .xml) are the same (transfered through git) but calling a forward reaction rate gives  different results.

Debugging I discovered that, with the same procedure, on my pc I'm unable

[2020-04-22 12:53] rubendibattista commented on #124
Hello @ggange.

Like this it's kinda hard to troubleshoot why you're getting this. Let's try to gain more informations.

1. Can you please report in a detailed way all the steps you took to build `mutation++`?
2. Can you provide the output of the `cmake` command you used to compile `mutation++`?
3. Can you please provide the `CMakeLists.txt` of your solver in which you're integrating `mutation++`?

[2020-04-22 13:19] ggange commented on #124
Thank you for the reply!

1. For installing and building mutation++ I used the steps detailed in the wiki (both on the personal and public machine)
2. [cmake_output.txt](https://github.com/mutationpp/Mutationpp/files/4516273/cmake_output.txt)
3. [CMakeLists.txt](https://github.com/mutationpp/Mutationpp/files/4516247/CMakeLists.txt)
4. "Linux elementaryOS 5.3.0-46-generic #38~18.04.1-Ubuntu SMP Tue

[2020-04-22 13:40] rubendibattista commented on #124
First of all, let's try to use the "right" way of integrating `mutation++` into a code. Informations are [here](https://github.com/mutationpp/Mutationpp/blob/master/docs/coupling.md).

So can you try with this `CMakeListst.txt`?

[code]

[2020-04-22 13:43] rubendibattista commented on #124
You might need to provide `mutation++_DIR` on the `cmake`  command line or add the `mutation++` cmake files install folder to `CMAKE_PREFIX_PATH`.

PS: Is your code available somewhere? Such that I can test it maybe on my machine?

[2020-04-23 22:59] rubendibattista opened #125 "Remove vendored dependencies"
After a private conversation with @ggange, I think that Mutation++ should not vendor  the dependencies.

I explain why: you are someone that wants to couple `mutation++` with your own solver code. Let'assume you are using `cmake` also for your solver.

1. You compile `mutation++` using the instructions provided in the documentation, but you don't have Eigen installed system-wide. Then the current

[2020-04-25 00:56] rubendibattista commented on #125
This is relevant: https://gitlab.kitware.com/cmake/cmake/-/issues/20511

[2020-04-26 21:42] jbscoggi commented on #118
Closing since this was fixed in #123

[2020-04-26 21:42] #118 closed

[2020-04-26 21:47] jbscoggi commented on #125
Hi @rubendibattista and @ggange,

Would it make more since just to use git submodules and the download/installation to our build config (if Eigen is not found)?  I agree that there should be a better way to handle this then the way we are now.

As for Catch2, personally, I would prefer just to stick the single header (which has it's copyright info) in the tests directory and that's it.  I think th

[2020-04-26 21:52] jbscoggi commented on #117
Hi @Zdenour, sorry for the late reply to this.  I will try to look into why the viscosity is so different in the current M++ version.  To help me out, can you tell me what mixture you are using, which species pairs you had to "correct" etc.

As for the NASA-9 polynomials, yes I think clamping should be the desired behavior.  Are you a programmer and know C++?  If so, would you mind trying to work

[2020-04-26 23:07] rubendibattista commented on #125
Ehi @jbscoggi, that would not solve the problem with dependency propagation when coupling `mutation++` within other software. It's basically what we have now, only fancier. :)

Instead of doing that, what about just, you know, asking users to `apt-get install libeigen3-dev` (or equivalent)?

I think I might be able to persist the installation information of `eigen` doing some `cmake` shenanigans,

[2020-04-26 23:17] rubendibattista commented on #125
This is also related: https://stackoverflow.com/questions/30987311/exporting-an-imported-library

[2020-05-04 08:23] ggange opened #127 "Average Heavy Collision Frequency"
Hello!
I was going through the Transport.cpp file in src/transport and found this expression for the average heavy collision frequency:
`double Transport::averageHeavyCollisionFreq()
{
  return meanFreePath()/averageHeavyThermalSpeed();
}`
Should it be the inverse? If yes do you know if it affects other functions?
Thank you!

[2020-05-07 16:59] grgbellasvki commented on #127
Thank you for the comment. I think you are right about the formula and should be fixed. This function is only used in "mppequil" and does not affect the calculation of other quantities.

[2020-05-07 17:25] ggange commented on #127
Perfect! thank you!

[2020-05-29 14:41] cesarpanpan opened #128 "No return on the prompt command"
Hello,

I need to use mutationpp on windows and so I use Cygwin. I did install the thirdparties and mutationpp and there is no error in the log.

The problem is when I execute mppequil with the example command, I have no result given. At first, I wasn't worried but my program using it can't get any result from it also and so give errors.

I am really clueless on this problem, as anyone already enc

[2020-05-29 14:43] rubendibattista commented on #128
Hello @cesarpanpan, could you please the same information I asked [here](https://github.com/mutationpp/Mutationpp/issues/124#issuecomment-617760923) in order to try to give a hand? :)

[2020-06-02 09:07] cesarpanpan commented on #128
Hello,

thanks for helping me, it is really nice of you.

First, the steps to build mutationpp : -I installed the third parties Eigen
and catch by doing a build folder in /Mutationpp-Master/thirdparty/eigen
or  /Mutationpp-Master/thirdparty/catch and installing them with default
option by using the cmake in their respecting folders.
-Then I went to the /Mutationpp-Master folder I have and use thos

[2020-06-02 09:32] rubendibattista commented on #128
Ehi, I'll try to see what I can do. You're using Cygwin. Did you try to use [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) instead? It works pretty well nowadays.

Can you post the content of `strace.out` and `strace.err` files after running this command?
[code]

[2020-06-02 11:51] cesarpanpan commented on #128
Ok, I will install wsl and see how it goes.

Le mar. 2 juin 2020 à 11:32, Ruben Di Battista <notifications@github.com> a
écrit :

[2020-06-03 20:28] koendev opened #129 "Derivatives of Net Production Rates w.r.t. Temperature"
Hi,

The Kinetics header file provides the Jacobian of the species net production rates w.r.t. the species densities, which is very useful. Does something similar exist for the derivatives w.r.t. the temperature? If not, are there any plans to implement this in the future?

Thank you for your help!
Koen Devesse

[2020-06-09 22:43] jcschulz opened #130 "Add functions to Fortran wrapper"
Add a `get_composition` function the Fortran wrapper. Function should take as arguments the name of the gas mixture and return the equilibrium mass fractions of that mixture.

Propose adding an alternate interface for the `surface_mass_balance` function that takes the gas mixture names of the pyrolysis gas and the boundary layer gas instead of the mass fractions.

[2020-06-09 23:20] grgbellasvki commented on #129
Dear Koen,

The derivatives of the Arrhenius kf with respect to temperature is already available in the code for the one-temperature model. You can find it in RateLaws.h:77 and the function is called derivative. If this is what you need, let us know if you need help on how to access this function.

For multi-temperature model it is not available, but it may be available in the future.

[2020-06-30 15:55] Fratorhe opened #132 "data/thermo file repeated"
Hello,

The file data/mixtures/thermo/burcat_therm.dat does not work when using mppequil.
It is also repeated since the data/mixtures/thermo/nasa7.dat file is basically the same (and it does work with mppequil).
Suggest to remove it.

Fran

[2020-06-30 17:51] rubendibattista commented on #128
Any success @cesarpanpan?

[2020-06-30 17:53] rubendibattista commented on #132
If you feel brave, you can also open a Pull Request for this little modification. :)

[2020-06-30 18:31] cesarpanpan commented on #128
Hi Ruben,

Yes, mutation ++ is working on my computer. Instaling WSL was the good
idea.

Thank you

Sincerely yours,
Florent

Le mar. 30 juin 2020 à 19:51, Ruben Di Battista <notifications@github.com>
a écrit :

[2020-06-30 19:00] #128 closed

[2020-07-01 10:43] CatarinaGarbacz opened #133 "does nonequilibrium density include ionization?"
Hi, I want to use Mutation++ to compute the density of a mixture in thermal and chemical nonequilibrium. I see we have this function available

double Thermodynamics::density(const double T, const double P, const double *const X) const
{
    double density = 0.0;
    for (int i = 0; i < nGas(); ++i)
        density += X[i] * speciesMw(i);
    density *= P / (RU * T);
    return density;
}

from my

[2020-07-01 11:22] jbscoggi commented on #133
Hey @CatarinaGarbacz, the easiest approach is just to use the state model that you want (Like ChemNonEqTTv) and then call the mixture.density() function after setting the state.  That should be what need I think.

[2020-07-01 11:36] CatarinaGarbacz commented on #133
Hi JB thanks for answering.

I am not so sure, but let me explain you better the specifics of what I'm looking for.

I want to compute the density at the flow initialization stage, where I have mass fractions, pressure and temperatures. to set the state of the mixture for the model ChemNonEqTTv, I first need to compute the density through the "nonequilibrium" equation of state (since the inputs fo

[2020-07-01 12:22] jbscoggi commented on #133
Ah OK I understand now, yes I think that is an edge case that is not currently implemented.  If the temperatures are equal, then you could just use the function you mentioned before, but if they are not, then it would not work.  It should be easy enough to implement this though.

[2020-07-02 10:25] CatarinaGarbacz commented on #133
makes sense! I'm not gonna implement this now since I'm full on developing on SU2, but actually I will take note of these little things that would me useful in Mutation++ and I might do it in the future, once things are more solid in SU2.

thanks again

[2020-07-30 18:56] koendev commented on #129
Dear,

Thank you for your reply! I'm sorry it took me so long to respond.

Having the derivatives for the kf would indeed be enough for me to do what I need! If you could help me on how to use that function, that would be great, as I don't understand what the different inputs are. I guess the kf themselves can be found through the functions forward- and backwardRateCoefficients, with multidimensio

[2020-08-04 18:24] kbibbles opened #135 "Documentation for using bprime?"
Hello,

I downloaded m++ from github and built successfully on my local system. However, I can't build the documentation (nothing happens when I run make docs - yes I have doxygen installed). It is not clear to me how to use the bprime executable, in particular: what format and information should the BLedge and pyrolysis gas inputs contain? Should they be in xml format like the mixture composition

[2020-08-04 21:09] jbscoggi commented on #135
Hi @kbibbles, let me split the question in 2 parts:

1. `make docs` not working

Make docs should only be available as a build target once you have successfully configured using cmake.  If you try to call this before running cmake in the [build step](https://github.com/mutationpp/Mutationpp/blob/master/docs/installation.md#build), the make target will not exist.  In addition, you will probably nee

[2020-08-11 09:28] jbscoggi commented on #135
Hi @kbibbles, were you able get the docs and bprime to work for you?  If so, I will go ahead and close the issue.

[2020-08-12 19:14] kbibbles commented on #135
Yes, based on your comments I figured out the issues I was having.

If I have further operational/methodology questions (as opposed to build
issues and runtime errors) is this an appropriate forum to raise them?

On Tue, Aug 11, 2020 at 3:28 AM J.B. Scoggins <notifications@github.com>
wrote:

[2020-08-12 19:23] jbscoggi commented on #135
Glad to hear you figured it out.  Yes, if you have any other questions, please fill another issue.  Thanks!

[2020-08-12 19:23] #135 closed

[2020-08-28 00:58] grgbellasvki opened #136 "Error compiling Mutation++ with the latest Eigen library on Gitlab"
Hello,
when compiling Mutation++ with the latest Eigen library on Gitlab (https://gitlab.com/libeigen/eigen.git, master branch) I get the error below. Is anyone facing the same issue? It seems consistent for both:
1) Apple clang version 11.0.0 (clang-1100.0.33.17))
2) Linux gcc version 4.8.5 (SUSE Linux)
I install Eigen library with CMake separately.

``
/Users/.../Mutationpp/src/transport/Transpo

[2020-08-28 10:23] rubendibattista commented on #136
Hello @grgbellasvki,

I just tried on my Catalina (`AppleClang 11.0.3.11030032`) with `Eigen3` installed to the latest commit (`25424d91f`), and the build proceeds as expected.

It would be helpful if you can provide a bit more context and what you have done. For example giving [these](https://github.com/mutationpp/Mutationpp/issues/124#issuecomment-617760923) information together with the same ki

[2020-08-28 17:58] grgbellasvki commented on #136
Hello rubendibattista,

Thanks for the answer. I re-installed everything from scratch, just like yesterday, and they compile fine in both systems. I have no idea what the problem was, especially since I couldn't understand the error for overloading the "=" operator. I was more worried about the chance of having an implicit cast happening in the code there that could be avoided. Unfortunately, I co

[2020-08-29 08:48] rubendibattista commented on #136
No trouble at all 😉.

I'll close the issue, feel free to ask to reopen it if the problems appears again.

[2020-08-29 08:48] #136 closed

[2020-09-24 13:18] AlirezaMazaheri opened #137 "Enthalpy at T=Tref(=298.15 K) is not returning zero for species with zero heat of formation"
Here are some data showing some combinations of thermodynamic database with different state model could result in nonzero enthalpies at T=Tref(=298.15 K) for species that have zero heat of formations, such as N2 and O2. The only acceptable outcome is the first row (maybe second row as well) in the table, and the most surprising outcome is the last row.

| Combinations | abs(h_s - 0) |
|-----------

[2020-09-24 14:10] jbscoggi commented on #137
Hey @AlirezaMazaheri,

Thanks for the pointing this out.  Since our previous discussion on this earlier (offline), I have been thinking about this a lot and can report some preliminary results.  First, I think we can split this problem into 2 separate issues:

1) The error in the NASA polynomial models for all but O_2 in NASA-9-New, and
2) The error in O_2 with NASA-9-New which seems exceptional.

[2020-09-24 20:22] AlirezaMazaheri commented on #137
Hi @jbscoggi,

Thank you for the analysis.
If I manually (outside of the code) calculate h(T=298.15) using NASA-9 data set, I get these:
<img src="https://latex.codecogs.com/svg.latex?\large&space;h_{N2}(T=T_{ref})=-5.16637\times10^{-9}"/>
<img src="https://latex.codecogs.com/svg.latex?\large&space;h_{O2}(T=T_{ref})=2.466562\times10^{-9}"/>
which are better than what we get out of the code (~1e-3)

[2020-09-24 20:31] jbscoggi commented on #137
Hi @AlirezaMazaheri, could you confirm the units of your calculations?  The results I was reporting were in J/kg.  If I multiply your hO2 by Ru/Mw_O2*298.15, I get something close to my values.

[2020-09-24 20:47] AlirezaMazaheri commented on #137
@jbscoggi, Ah units :-) Here are values in J/kg:
<img src="https://latex.codecogs.com/svg.latex?\small&space;h_{N2}(T=T_{ref})[J/Kg]=-5.16637\times10^{-9}\frac{8.314462618}{28.0134}T_{ref}=-4.5718\times10^{-7}"/>
<img src="https://latex.codecogs.com/svg.latex?\small&space;h_{O2}(T=T_{ref})[J/Kg]=2.466562\times10^{-9}\frac{8.314462618}{31.9988}T_{ref}=1.9108\times10^{-7}"/>
Note, in my version the

[2020-09-24 21:24] jbscoggi commented on #137
@AlirezaMazaheri, OK great.  Note that the signs are still different for some reason compared to what I got with mppequil, but I implemented the same in a python code and matched exactly the mppequil output for O2 NASA-7, so I am inclined to agree with it.  For reference, here was my code

[code]

[2020-09-25 00:52] AlirezaMazaheri commented on #137
@jbscoggi, didn't I mention that mind hand-calculation is based on NASA-9?

[2020-09-25 09:39] jbscoggi commented on #137
@AlirezaMazaheri, yes but from my table above, I got a positive enthalpy for N2 and negative for O2 with NASA-9.  I think we should get the same sign regardless of differences in Ru and Mw because these are just positive multipliers.

[2020-09-25 12:30] AlirezaMazaheri commented on #137
@jbscoggi NASA-7 and NASA-9 dataset may not necessarily produce the same sign h at Tref. FWIW, here is the dataset along with the calculation. I'm pretty sure these dataset matches the published data from NASA report TP-2002-211556, "NASA Glenn Coefficients for Calculating Thermodynamic Properties of Individual Species," by B.J. McBride, M.J. Zehe, and S. Gordon. September 2002. Am I missing somet

[2020-09-25 12:42] jbscoggi commented on #137
Hi @AlirezaMazaheri, I think what's different (compared to me) is that you are dividing all the coefficients by T and then multiplying by T again to get the dimensional units.  Of course, this will change the relative errors between coefficients and so you could get a different sign then what I got.  Anyways, I think we agree that the errors for h(298.15) are totally reasonable in the end.  I will

[2020-09-25 12:48] AlirezaMazaheri commented on #137
@jbscoggi Sounds good :-)

[2020-09-25 14:27] #137 closed

[2020-09-25 14:28] jbscoggi opened #138 "Reference enthalpy of O2 in NASA-9-New is not zero"
This was brought up in #137 and is moved here to close the other issue.

[2020-10-01 21:08] jbscoggi opened #139 "ChemNonEqTTv model setState() does not return given vibronic energies"
*This is based on an email from @AlirezaMazaheri, who first reported this issue.  I'm putting it here and listing as a bug for now.*

I am trying to verify that if I set the thermodynamic state with a set of inputs, I can retrieve the inputs back after the state is set.  I have verified this process for CNEQ and TCEQ and so far everything looks good. The issue that I’m having is with TCNEQ.  Here,

[2020-10-03 16:48] jbscoggi commented on #139
Hi @AlirezaMazaheri, can you provide some more details on how you compute the input species densities and mixture energies before the call to setState()?

[2020-10-03 21:06] #133 closed

[2020-10-03 21:07] #124 closed

[2020-10-04 16:13] AlirezaMazaheri commented on #139
Hi @jbscoggi, here are the steps I take for TCNEQ. Similar steps are taken for CNEQ and TCEQ.
- take some (random) species densities, rho_s. I don't think this is important (?)
- pick T and Tv from a uniform distribution. My random uniform distribution is set between 200-16000 K.
- setState with (rho_s, T, and Tv)
- get mixture density, rho
- get energy per unit mass, e = expected_e
- get vibratio

[2020-10-04 19:34] jbscoggi commented on #139
Thanks @AlirezaMazaheri .  We have a similar test already built into the test suite which seems to be functioning properly, meaning it doesn't have the same behavior.  Could you provide the species densities you used that gave the results you initially reported so I can try the exact same set of numbers?  I know they were random and maybe it's not possible to provide the same conditions as above.

[2020-10-04 20:03] AlirezaMazaheri commented on #139
Hi @jbscoggi can you point me to the test? When I run my test, it generates random species densities every time, and it's unlikely to get the same values as before. Currently, the Newton solver doesn't converge for mixtures other than 5-species air.

[2020-10-04 20:18] jbscoggi commented on #139
Hey @AlirezaMazaheri, you beat me to it!  I was just merging the updated test :).  Please have a look at the following: https://github.com/mutationpp/Mutationpp/blob/a655ceb891b0371c9cc7e743cb52544ca2f00384/tests/test_set_state.cpp#L38-L96.

Note that our procedure is very similar to yours, except the densities are not obtained randomly.  Instead, we equilibrate the mixture (for a grid of T,P valu

[2020-10-05 13:23] AlirezaMazaheri commented on #139
Hi @jbscoggi, Here the are a two set of examples (air_11 and CO2 mixtures) where the returned vibrational energies noticeably differ the input values. The species densities are in the same order as provided in the M++ mixture files. To provide a point of need access, here are the taken steps again:
- setState with (rhos, T, TV)
- get e and eV
- now setState with (rhos, e, eV)
- get back returned_e

[2020-10-05 14:13] capriatim opened #141 "Air11 mechanism"
Some of the reaction rates in the air11 file seems to have some discrepancy with the reference.
I underline them in the following:

N2 + M <-> 2N + M
     MPP: A = 3.0E22  per S in {N+,O+,NO+,N2+}
        [1]:  A = 7.0E21  per S in {N+,O+,NO+,N2+}

O2 + M <-> 2O + M
     MPP: A = 1.0E22  per S in {N+,O+,NO+,N2+}
        [1]:  A = 2.0E21  per S in {N+,O+,NO+,N2+}

NO + M <-> N + O + M
     MPP: A =

[2020-10-05 19:56] jbscoggi commented on #139
Hey @AlirezaMazaheri, please take a look at #142 which is a test I'm adding that uses your specific inputs.  While the test passes, I will note that the vibronic energy densities I get do not match the ones you have provided as "input" or "expected".  These are the values I get:

air_5
rho_e: 4.87797e+06
rho_eV: 673334

air_11
rho_e: 2.97636e+06
rho_eV: 51269.8

CO2_8
rho_e: 4.37542e+06
rho_eV: 11

[2020-10-05 20:10] jbscoggi commented on #141
Hey @turchia, could you please weigh in here.  I know we talk about these discrepancies a long time ago, but I really don't remember the conversation...

[2020-10-05 20:23] AlirezaMazaheri commented on #139
@jbscoggi Your air_5 values match the one I provided. The rho_e of air_11 and CO2_8 also match the input rho_e that I provided. Your air_11 and CO2_8 provided rho_eV are different than mine. I'll take a look at the test you just added to see if we are doing something different.

[2020-10-06 20:02] AlirezaMazaheri commented on #139
Hi @jbscoggi. Mystery solved! I had a typo in my code and was incorrectly comparing hV with eV! ... and couldn't see the typo. You may close this issue. All is good.

[2020-10-06 20:07] jbscoggi commented on #139
OK, good to hear @AlirezaMazaheri!

[2020-10-08 12:51] wargnierq opened #143 "Issue with reference to collision integrals Q11ij"
Dear All,

I am currently working on the Helium Hydrogen mixture and try to compute some collision integrals (such as Q11ij). I have git pull and install Mutationpp properly, (mppequil and check air11 are working properly I can even compute some of the properties). However, I am having issues when I am trying to call of these coefficients (something in line with a reference that is not found?). I

[2020-10-08 15:31] rubendibattista commented on #143
I tried on Linux (WSL actually), and the build works.

I'll check on macOS to see if it's specific, but I feel that's a problem with you environment. Try to disable Anaconda, maybe?

[2020-10-08 15:41] wargnierq commented on #143
Let me know with MacOs if it works

[2020-10-09 05:25] BBArrosDias commented on #143
I ran the script on macOS. I used clang++ compiler from Anaconda Cloud. @wargnierq did you check if you used the same compiler to install m++ and the script?

[2020-10-09 08:50] wargnierq commented on #143
Hello,

In both cases I used:

cmake version 3.17.3

and

GNU Make 3.81

To compile mutation++ and the small code

[2020-10-09 09:35] jbscoggi commented on #143
Hi @wargnierq, as @rubendibattista said, I think this is a problem with your setup.  Specifically, it would seem you likely have multiple versions M++ installed and in your path.  To see which version is actually being used, you can execute the following

`DYLD_PRINT_LIBRARIES=YES checkmix air_5`

This will show which shared libraries are loaded on startup of the checkmix program.  Make sure the d

[2020-10-09 10:18] wargnierq commented on #143
Hi @jbscoggi ,

Thank you for your fast answer ! By doing the above command, at the beginning I am having the following:

dyld: loaded: <64CCBDF0-011F-3F8C-AF41-CF1E66E6164E> /opt/local/bin/checkmix
dyld: loaded: <98238C41-CB23-3B66-B822-EC33C9DDEB28> /opt/local/lib/libmutation++.dylib
dyld: loaded: <59A8239F-C28A-3B59-B8FA-11340DC85EDC> /usr/lib/libc++.1.dylib
dyld: loaded: <001B3B7F-D02C-31D3-B9

[2020-10-09 10:31] jbscoggi commented on #143
Hi @wargnierq, you don't even need a makefile.  Just compile your main.cpp together with the correct libmutation++.dylib file with the proper include directory for Mutation++.  Something like

`compile -o omega11 main.cpp /full/path/to/your/libmutation++.dylib -I /full/path/to/your/mutation++/include/dir`

where you obviously replace the `compile` and paths with your compiler and full paths.

[2020-10-09 10:45] wargnierq commented on #143
Hi @jbscoggi ,

After doing the following :

**g++ -o omega11 main.cpp -I /Users/quentin/Desktop/canop/include/mutation++**

He found mutation++.h, but not Eigen. I remember that I had this issue long time ago. Eigen is not included in Mutation++ library ?

In file included from /Users/quentin/Desktop/canop/include/mutation++/Thermodynamics.h:39,
                 from /Users/quentin/Desktop/canop/

[2020-10-09 10:46] jbscoggi commented on #143
Ah yes, you also need to add the include path for Eigen.  It should be shipped with mutation++ in the thirdparty directory.

[2020-10-09 10:51] wargnierq commented on #143
If I add the Eigen repository in third party, as follows,

**g++ -o omega11 main.cpp -I /Users/quentin/Desktop/canop/include/mutation++ /Users/quentin/Desktop/canop/Mutationpp/thirdparty/eigen**

He does not find Eigen/Dense ? whereas [...]/eigen contains Eigen/Dense

In file included from /Users/quentin/Desktop/canop/include/mutation++/Thermodynamics.h:39,
                 from /Users/quentin/Des

[2020-10-09 12:07] jbscoggi commented on #143
You have to use -I for each new directory.  Also don't forget to add the M++ library to the command like I did in my example.

[2020-10-09 13:13] rubendibattista commented on #143
Ehi @jbscoggi, I sincerely discourage people to use alternative `Makefile` to couple with Mutation++. To build with `CMake`, the only thing needed is a 7 lines `CMakeLists.txt` that takes into account automatically all the linkage and flags stuff and folder stuff that are configured in upstream project and so it minimizes environment changes on the user side.

[code]
The only thing needed is to po

[2020-10-09 13:19] rubendibattista commented on #143
This is the CI configuration:
[code]

while @wargnierq has XCode 12. I'll try to check on my machine.

[2020-10-09 13:26] BBArrosDias commented on #143
@rubendibattista again, the script I provide to @wargnierq  was compiled on my mac using

[2020-10-09 15:46] rubendibattista commented on #143
I think this might be a problem with the new XCode by the way. @BBArrosDias are you using `clang` or `AppleClang`? They're different things.  If it's AppleClang, you are probably on HighSierra, aren't you?

Moreover, you are also using `anaconda`. Anaconda in my own experience is the recipe for disaster for inexperience users trying to compile things that are not packaged by it. It pollutes your e

[2020-10-09 16:05] jbscoggi commented on #143
@rubendibattista I agree that we should only support the "preferred" method to build, but I think from a debugging point of view, it is useful to know if he can build it manually with a single command in the shell pointing directly to his fresh install.  In this way, we will know if this is a problem of his system or its just mixing different versions in cmake somehow.  At any rate, it sounds to m

[2020-10-09 16:06] jbscoggi commented on #143
@wargnierq, can you do a make clean in your M++ build directory and then run `make VERBOSE=1` to see which compiler is being used?  You should use the same compiler to build your script.

[2020-10-09 16:13] rubendibattista commented on #143
I just tested on my machine, and it is indeed working.

[code]

[code]

[2020-10-09 16:32] rubendibattista commented on #143
To complement @jbscoggi, @wargnierq can you also post the output of `env`?

[code]
then paste it here.

[2020-10-13 13:34] rubendibattista commented on #143
Ok I had another session with @wargnierq and we finally found the problem.

Normally on macOS `cc` `c++` and `gcc` are "symlinked" to the local AppleClang and they do not provide GNU suite, in particolar the fortran compiler.

We installed the GNU compiler suite with Macports because @wargnierq needed the `gfortran` compiler.

Macports provides a system to "enable" a compiler of your choice, such

[2020-10-13 13:34] #143 closed

[2020-10-14 16:26] rubendibattista commented on #143
It is indeed: https://trac.macports.org/ticket/48647

[2020-10-14 17:22] ChiaraAmato opened #144 "Thermal diffusion ratios for electrons in fortran"
I am trying to add the electron thermal diffusion ratio to the fortran code. I need these coefficients to evaluate the temperature term of the driving force for the Stefan-Maxwell equation. I have checked the source code both in src/transport/transport.h and src/transport/transport.cpp.
In Transport.cpp, I can't find any function related to it. In Transport.h, I find several functions.
Which one s

[2020-10-25 11:52] BBArrosDias opened #145 "Negative internal thermal conductivity"
Hello,

I have recently run some simulations with stagline (air_11) with the most recent version of m++, and they crash almost immediately.
I ran the same simulations with a previous m++ that I have, and they were converging quite easily. The major modification from the most recent m++ and my old one is the new transport implementation.
Running stagline with both versions for neutral mixtures (air

[2020-10-27 08:11] capriatim commented on #145
Hello,

I noticed the same problem related the function electronThermalConductivity() returning me negative values (with a different CFD solver coupling). Following the discussion.

[2020-10-27 09:04] jbscoggi commented on #145
Hey @BBArrosDias and @capriatim, could you provide some minimal working examples either as a small code snippet or mppequil options as a starting point to debug this issue?

[2020-10-27 09:47] BBArrosDias commented on #145
I used mppequil and here are the options:

mppequil -T 300:10:50000 -m 0,37 air_11

Following a private discussion with @grgbellasvki, I will reduce the order of the Sonine polynomials. I think that the problem related with stagline might be related to the problem of @capriatim.

Thanks.

[2020-10-27 11:55] capriatim commented on #145
Hello @jbscoggi , I will send you by mail.

[2020-10-27 12:24] jbscoggi commented on #145
Hi @BBArrosDias and @capriatim, thanks.  I will take a look probably today and see what I can figure out.  Indeed, there may be problems using a 3rd order expansion for the electron thermal conductivity, though I don't remember ever seeing such extreme behavior.  @BBArrosDias, the main problem using a 2nd order expansion is the accuracy is limited (though I guess you would rather be inaccurate tha

[2020-10-27 13:18] BBArrosDias commented on #145
Hi @jbscoggi, indeed, using the 2nd order for the electron subsystem,  I can converge stagline.
But the internal thermal conductivity is still negative; I don't think the Eucken formula depends on the Sonine order, right?

[2020-10-27 13:47] jbscoggi commented on #145
Ah good point!  Is this with RRHO or NASA thermo?  Remember that Euken corrections us the Cp.  It's possible that the NASA polynomials go negative if used well beyond the allowed temperature range...

[2020-10-27 14:01] BBArrosDias commented on #145
Problem solved. I changed to RRHO and now the thermal conductivity is positive. Thanks. So I guess the only issue now is the 3rd order sonine polynomials, which brings a lot of instability to the CFD code.

[2020-10-27 15:52] jbscoggi commented on #145
OK good!  Michele, could you also confirm switching to RRHO works?  In the future, we should clip the NASA polynomials in a better way to make sure this doesn't happen.  Maybe someone can fill a separate issue for a feature request about that?  Thanks.

[2020-10-28 11:37] capriatim commented on #145
@jbscoggi unluckly not, but I think it is normal since my problem was on electrons them. cond and not on Eucken correction. Anyway decreasing to 2 the Sonine order worked.
I forgot to say that I change electrons mw to 0.000548579903 in the elements.xml. I saw it has some influence, even if not solve my problem switching back to 0.00055.

[2020-11-15 21:44] CatarinaGarbacz opened #146 "link mutation++ to SU2 with meson/ninja"
Up to now, we were linking mpp to SU2 by means of:
1.install mpp - with cmake
2.compile mpp - with make
3.configure su2 with linking flags to mpp
4.compile su2 - with make

now SU2 has a new way of configuring/compiling, that uses building software called meson/ninja. So I have been working on making the previous process completely automatic within this software. The idea is:
1.configure su2 with

[2020-11-19 18:59] grgbellasvki commented on #146
Hello,
It seems something is wrong with the auto-registration of RrhoDB.cpp file. I would be happy to try and reproduce the problem, but before that:

Do you get the same error with other databases, like NASA-9?
Is the error you mention reproducible with mppequil with the mutation++ SU2 compiles?
"mppequil -T 300 -P 300 -m 32 air_5"

[2020-11-20 00:42] CatarinaGarbacz commented on #146
thanks for helping!

this happens for any database. which is expected, since the work I am doing is linking Mutation to another code, so there's probably some link missing for the databases in general. which is strange, because it does not complain about mixture file or mechanism file, which suggests the folder Mutationpp/data is being recognized. so I'm a bit confused about this "contradiction"

[2020-11-20 00:49] CatarinaGarbacz opened #148 "customized state model"
@jbscoggi

hello JB,

we would like to have a state model that allows from TTv nonequilibrium, but frozen mixture. essentially something identical to ChemNonEqTTvStateModel.cpp but commenting out the lines in bold

            addTransferTerm(0, Factory::create("OmegaVT", mix));
            **addTransferTerm(0, Factory::create("OmegaCV", mix));
            addTransferTerm(0, Factory::create("Omega

[2020-12-03 09:16] jbscoggi commented on #146
Hey @CatarinaGarbacz, indeed this seems to be some type of linking problem.  In fact, as you can see from the error message `Provider for type ThermoDB is not registered. Possible providers are:`, the ThermoDB type has no providers, meaning that none of the source files that provide ThermoDB loaders have been linked.  Perhaps you can provide a verbose log from a clean Meson build to see if M++ is

[2020-12-03 09:19] jbscoggi commented on #148
Hey @CatarinaGarbacz, does this mean you just want a mixture without a reaction mechanism?  If so, there is no code change required, you can simply remove the reference to the mechanism in your mixture file.

[2020-12-03 11:21] CatarinaGarbacz commented on #146
could you tell me what these files are, the ones which provide ThermoDB loaders?

The thing is, with meson, Mutation++ is not compiled explicitly, at leats not the way I did it - so I do not have that log. Now, my way is obviously wrong and maybe this is exactly the problem, i.e, the lack of an explicit compilation.

It's bit hard to explain all of what I did here, since I also do not master it, I

[2020-12-03 11:22] CatarinaGarbacz commented on #148
@jbscoggi that's great! makes sense, I will give it a try but should be fine. thanks!

[2020-12-03 15:17] rubendibattista commented on #146
Let's try to see if we can solve it here before :). I'd kindly ask if you can provide:

* A step by step procedure of the commands you execute to compile your code with Mutation++ until you get the error you're describing here. Example:
    1. I git clone SU2 `git clone https://link/to/su2/git/repository/su2.git`
    2. I apply *these* modifications to the meson config file
    3. I run this comma

[2020-12-03 15:22] jbscoggi commented on #146
Hey @CatarinaGarbacz, it seems @rubendibattista  beat me to it, but I think indeed if you could provide that info first, it would be helpful.  I am super swamped with work for next week or so, but I will definitely be happy chat with you offline if it is not resolved by then.  Like this, @rubendibattista can also help out if I'm not responding.  The benefit of working it out here is that potential

[2020-12-03 15:23] rubendibattista commented on #146
Oups, sorry @jbscoggi  :).

[2020-12-03 15:24] jbscoggi commented on #146
No problem @rubendibattista, thanks for helping!

[2020-12-03 18:22] CatarinaGarbacz commented on #146
@rubendibattista sounds good, thanks a lot for getting back to me in a detailed way. Not sure if I will be able to respond to every point, because of the way I did things, but I will explain precisely what I did. And if you have more questions please ask!

a)I did this in the past, with cmake/make, and things worked perfectly well
b) now with meson/ninja, in an automatic way

a)
1. `git clone http

[2020-12-03 19:57] rubendibattista commented on #146
Ehi @CatarinaGarbacz, I think the problem is in the meson files. Is your code available somewhere? Is it standard SU2?

[2020-12-04 00:38] CatarinaGarbacz commented on #146
it is. not standard SU2, but you can checkout to this branch: https://github.com/su2code/SU2/tree/feature_NEMO_streamline

[2020-12-04 00:46] rubendibattista commented on #146
The right way of using Mutation++ with meson should be:

1. (Build and) install Mutation where you want it to be using cmake. (When you install it, Mutation++ exports a `mutation++Config.cmake` file that is called "Export file" and it's the way a CMake project provides discoverability)

2. Example `meson.build` for a simple `main.cpp` file:
[code]

Theoretically `meson` should be able to discover

[2020-12-04 01:46] rubendibattista commented on #146
Ok, it seems to work.

1. Create a `subproject` folder in the repository root
2. Add `Mutationpp` folder in `${SU2_ROOT}/subproject` (probably as a git submodule)
3. Fix the `meson.build` with this:
[code]
4. Compile SU2 (it will compile Mutationpp)
5. `export MPP_DATA_DIRECTORY="${SU2_ROOT}/subproject/Mutationpp/data"`
6. Adapt the `TestCases/nonequilibrium/invwedge` test case like this:
[code]
7

[2020-12-04 11:41] CatarinaGarbacz commented on #146
Uau I'm very impressed, that was quick! it definitely works perfectly well in term of linking mutation with SU2 :D

Probably the reason why it explodes is simply because in MPP we have N,O,NO,N2,O2 as the list of species and in the userdefined model we have N2,O2,N,O,NO, so you're giving 0.77, 0.23 mass fractions to N and O. which shoud be fine generally, but this test-case was only configured and

[2020-12-04 12:15] rubendibattista commented on #146
Amazing! 👍

I'll close this issue since it's resolved in terms of build systems shenanigans, feel free to drop a message to let us know if you manage to make the simulation work as expected.

PS: I should probably checkout SU2, sooner or later, it looks a cool project! :)

[2020-12-04 12:15] #146 closed

[2021-01-06 10:17] ggange opened #151 "RamshawDiffMat header & averageDiffusionCoeffs"
Hello everybody,

I am currently working with the RamshawDiffMat file and I noticed a disparity with what it is written in the header:

     D_{ij} = \frac{(\delta_{ij}-y_j)}{x_j}\frac{(1-y_j)}{(**1-x_j**)}D_{jm}

and what it is in the source code:

`        for (int j = 0; j < ns; ++j) {
            m_Dij.col(j).fill(-Y[j]/X[j]*(1.-Y[j])*Dim(j));
            m_Dij(j,j) -= m_Dij(j,j)/Y[j];

[2021-01-09 01:18] CatarinaGarbacz opened #152 "link mutation++ to SU2 with meson/ninja - follow-up"
@rubendibattista I was trying to implement your suggestion for this, but I am having a problem.

You are right that when I compiled SU2, mutation++ seems to compile as well, since the terminal prints things like:

**$./ninja -C build install
ninja: Entering directory `build'
[68/426] Compiling C++ object subprojects/Mutationpp/libcm_mutation__.so.p/src_kinetics_Kinetics.cpp.o**

However, when I ra

[2021-01-09 03:14] rubendibattista commented on #152
Ehi @CatarinaGarbacz, again... Can you maybe [list again all the steps](https://github.com/mutationpp/Mutationpp/issues/146#issuecomment-738071814) you took from start to end? That'll help to try to reproduce your problem

[2021-01-09 03:34] rubendibattista commented on #152
Anyway, I checked out your branch.

1. You're missing the patch on the `meson.build` file I told you in #146.
[code]
2. I used the latest version of meson.

So here's my procedure.
1. `git clone --recursive https://github.com/su2code/SU2.git`
2. Create a Python virtualenv
3. Install latest meson `pip install meson`.
4. Apply the patch to `meson.build` if not done in precedence.
5. `meson setup bui

[2021-01-09 12:34] CatarinaGarbacz commented on #152
Hi @rubendibattista thanks for the quick answer. I think maybe you checked out to the wrong branch, since I do have this patch in the meson.build file: make sure you're looking at the **feature_NEMO_streamline_final** (lines 168-174).

my procedure followed the steps previously mentioned in #146 :

1.Create a subprojects folder in the repository root
2.Add Mutationpp folder in ${SU2_ROOT}/subproje

[2021-01-09 12:38] CatarinaGarbacz commented on #152
Hi @rubendibattista thanks for the quick answer. I think maybe you checked out to the wrong branch, since I do have this patch in the meson.build file: make sure you're looking at the **feature_NEMO_streamline_final** (lines 168-174).

my procedure followed the steps previously mentioned in #146 :

1.Create a subprojects folder in the repository root

2.Add Mutationpp folder in ${SU2_ROOT}/subproj

[2021-01-09 15:46] rubendibattista commented on #152
Ehi @CatarinaGarbacz, you were right. I checked out the branch without the trailing `_final`. :).

Anyway, I checked it out, and it does not build for me:

[code]

The `#ifdef  HAVE_MPP` have been removed so... I don't know. The branch is very different from `feature_NEMO_streamline` so it would take too much time for me to debug. However, this is not a problem related to Mutation, but more a bug

[2021-01-09 16:05] rubendibattista commented on #152
Sorry, my fault. For some reason it lost the `enable-mpp=true` option.

I checked out again, built it correctly and launched:
<details>
<summary> `invwedge.cfg` Input File </summary>
[code]
</details>
<details>
<summary> Output </summary>
[code]
</details>

It seems to work, right? I think you have a problem with your environment. Can you please provide the output of the `env` command? Are you usi

[2021-01-09 18:15] CatarinaGarbacz commented on #152
sorry, what do you mean by input file and output file?

I still get the same outcome as before.

1. $env

[code]

2. I don't think I am using anaconda:

[code]

[2021-01-09 18:32] rubendibattista commented on #152
Those are folded outputs. Click on the arrow to get the content.

https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d

[2021-01-09 22:46] CatarinaGarbacz commented on #152
Ah right! yeah it seems to work with you.

Do you have any implicit reference to libmutation.so ? maybe in subprojects/Mutationpp/install/lib?

I think that's why I am missing, which I believe to be the outcome of correctly building mutation?

[2021-01-09 22:59] rubendibattista commented on #152
I don't have any explicit reference to anything. `meson` should take care of all the linking magic. Your environment looks polluted by the way, you have `PYTHONPATH` and `LD_LIBRARY_PATH` set.

Maybe try to unset them. It's general a very bad idea to use `LD_LIBRARY_PATH` and stuff. If you need to link to something out of standard paths, you should use the `rpath` flag for the linker. Instead of `

[2021-01-09 23:02] rubendibattista commented on #152
In addition, you are using Python 2.7 that is obsolete, you should use Python 3.6+. Check also that you're installing a recent meson version in your virtualenv. Maybe the last version compatible with Python 2 is not good enough.

[2021-01-09 23:23] CatarinaGarbacz commented on #152
ok thank you. Yes as you probably can tell, I don't have much experience with this side of things. I will explore the things you suggested and see if I can make some progress. Very grateful for the support. Will update here !

[2021-01-10 01:11] rubendibattista commented on #152
There's absolutely no problem. 😉

Let me know if unsetting the environment variables you manage to solve.

On Sun, 10 Jan 2021, 00:23 CatarinaGarbacz, <notifications@github.com>
wrote:

[2021-01-10 01:13] CatarinaGarbacz commented on #152
it didn't solve it. But I will start the process again step by step on a clean branch and in a fresh day, since I'm at the stage of going around in circles. I'll update on any developments

[2021-01-10 01:20] rubendibattista commented on #152
I know the feeling. Generally is always something very easy that we can't
see.

If you start again, please record exactly all the steps you're doing with
the output of the commands such that I can try to understand better.

On Sun, 10 Jan 2021, 02:14 CatarinaGarbacz, <notifications@github.com>
wrote:

[2021-01-10 01:21] CatarinaGarbacz commented on #152
true.
I will do that!

[2021-01-11 21:08] CatarinaGarbacz commented on #152
some (good) news. So I re-started to process, trying to follow this conversation, my steps were:

1. sudo ln -s /usr/bin/python3 /usr/bin/python (to have python3 as default when python is called, I confirmed it works)

2.pip3 install meson
Collecting meson
Installing collected packages: meson
Successfully installed meson-0.56.2

3.mkdir subprojects
cd subprojects
git submodule add https://github.c

[2021-01-12 00:39] rubendibattista commented on #152
Ehi @CatarinaGarbacz, few notes:

* In my experience,  It's a **very** bad idea to change the system python interpreter (as you do with the symlink) and to install python packages systemwise using `pip`, because this will likely conflict with the ones packaged by your distribution package manager. Rule of thumb: never use root! :) This will likely cause lots of problems. The correct way to do this

[2021-01-12 00:47] CatarinaGarbacz commented on #152
Hi @rubendibattista  your patience is truly admirable, thank you so much. I will correct the things you're saying, after this last I understand better how to use virtualenv, whereas before I was getting a bit lost, that's why I ended up doing other things.

about the meson/ninja part, I can give it a try (tomorrow), to see what happens. but, in the end, I don't think this is something I want to do

[2021-01-12 00:51] CatarinaGarbacz commented on #152
in any case, I was looking at meson.py to see if there's anything obvious causing this. And I noticed these lines:

[code]

[2021-01-12 00:57] rubendibattista commented on #152
Ehi @CatarinaGarbacz, I don't know. I just followed the instructions on the Meson website. I'm not familiar with SU2 things, but apparently using that non-standard script `meson.py` causes linking problems as you witness. I did not check it tho.

Personally, I'll use the standard way of doing in Meson and, if possible, I'll remove the `meson.py` script since, as you can see, the hardcoding of path

[2021-01-12 00:59] rubendibattista commented on #152
Then again, it's possible I'm completely overseeing the real reason why there's that `meson.py`. So, take my words with a grain of salt!

[2021-01-12 01:00] CatarinaGarbacz commented on #152
ok I see. It makes sense, I will check with other developers to see if this goes in line with their work introducing meson to SU2.

about the subprojects, do you know by heart if this folder is allowed to have a different name ? I'm searching about it, but if you know, let me know pls :)

[2021-01-12 01:02] rubendibattista commented on #152
If I remember well, apparently not. I did not investigate further tho. 🤷‍♂️

(I'll close this issue, if there's something more feel free to post here below and if needed we will reopen it, even if, all things considered, this seems not to be an issue related to Mutation, but more to SU2)

[2021-01-12 01:03] CatarinaGarbacz commented on #152
that's fine :) again, many thanks! your help was essential

[2021-01-12 01:03] #152 closed

[2021-01-14 19:27] CatarinaGarbacz commented on #148
Hi @jbscoggi I was wondering... This way of doing things is not ideal, since a user won't know he/she can do that... and there's not really a way, that I can think of to let them know. so I was wondering if there's a way to make this automatic and the user would simply need to set FROZEN_MIXTURE= YES on the input file of SU2.

that's why I thought about creating that new NonEqTTvStateModel, so

if

[2021-01-17 09:51] jbscoggi commented on #148
Hey @CatarinaGarbacz, you can actually do this already by using `opt.setMechanism("none")` instead of changing the state model.  That should work but if not let me know.

[2021-01-17 11:19] jbscoggi commented on #151
Hi @ggange, thanks for the question!  Indeed this is a little confusing...

I believe the formula is taken from this [classical paper](https://github.com/mutationpp/Mutationpp/files/5825910/sutton1998.pdf) from Sutton and Gnoffo, Eq. 18, with the "Ramshaw" correction.  Based on the Sutton and Gnoffo, we can write an approximate diffusion velocity as

V_i = -\frac{1}{x_i}\frac{1-y_i}{1-x_i} D_{im}

[2021-01-17 11:20] #145 closed

[2021-01-17 11:22] jbscoggi commented on #141
@turchia, do you remember this discussion a while back?

[2021-01-18 08:36] turchia commented on #141
Hi @jbscoggi, sorry I missed the request at first. I don't remember excactly but certainly there were inconsistencies between the different Park's papers (book, 1993, 1994, 2001). I found back this little comparison report that I prepared several years ago. It may clarify.
[park_mechanism_comparison.pdf](https://github.com/mutationpp/Mutationpp/files/5828831/park_mechanism_comparison.pdf)

[2021-01-18 08:41] jbscoggi commented on #141
Thanks @turchia, super helpful!  @capriatim, I guess the thing to do now would be to decided which mechanism to use.  It seems the current Air11 mechanism is based on several sources...  Personally, I would elect to keep it as is unless there is a very good reason to change it.  Do you know what they use in other libraries/codes, for example US3D?

[2021-01-18 09:05] ggange commented on #151
Hi @jbscoggi,
thank you for the complete and clear reply. Indeed I did not know the paper by Sutton and Gnoffo, thanks for sharing it!

The first part is very clear but I still have some doubts on the second one: in the paper I attach here (In
[ramshaw1993.pdf](https://github.com/mutationpp/Mutationpp/files/5828943/ramshaw1993.pdf)
)  Ramshaw defines (eq. 61) the effective binary diffusivities as:

[2021-01-28 09:24] capriatim commented on #141
Thanks @turchia . @jbscoggi, other codes refer to the same soruces (default US3D mechanism relys on Park90 or Park93).
I was comparing the reactions I underlined wih Alessandro's comparison. It seems the mismatches are still present. I think we should fix that reactions.

[2021-02-01 17:49] #20 closed

[2021-03-04 10:04] jbscoggi commented on #127
This was fixed in #158, closing.

[2021-03-04 10:04] #127 closed

[2021-03-04 10:07] #144 closed

[2021-03-31 14:55] tu-97 opened #161 "I can not link mutation++ with SU2. but SU2 can run really well."
**Cmake Version:3.10.2

sudo ./meson.py build  -Denable-mpp=true  --prefix=/usr/local/SU2

![Snipaste_2021-03-31_22-49-11](https://user-images.githubusercontent.com/74906968/113164278-8da18800-9273-11eb-98c5-1325032bcbe7.png)

[2021-03-31 15:43] tu-97 commented on #161
WARNING: CMake Error: CMake was unable to find a build program corresponding to "Ninja".  CMAKE_MAKE_PROGRAM is not set.

[2021-03-31 16:05] tu-97 commented on #161
when I copy the executable program  "ninja"  at   /home/usersname/SU2/external/ninja/ninja    to  /usr/local/bin/ninja
then run  sudo ./meson.py build -Denable-mpp=true --prefix=/usr/local/SU2
problem solved!!

[2021-03-31 16:06] #161 closed

[2021-03-31 16:38] rubendibattista commented on #161
Just FYI, that's absolutely a terrible idea to copy something manually inside `/usr/local/bin`. You need to install `ninja` using your package manager or install it locally into your own and let `Cmake` know the correct path.

[2021-04-04 08:54] koendev opened #162 "Stoichiometric coefficients"
Dear,

I'm sorry for asking a basic question, but I haven't been able to find the method for obtaining the stoichiometric coefficients.
How can I obtain the stoichiometric coefficients of all the species of all the reactions occurring in the mixture? And how would the output of such a method be ordered?

Thank you for your help!
Koen Devesse

[2021-04-04 10:19] jbscoggi commented on #162
Hi @koendev,

Good question!  I think you are right that this information is not readily available.  I think perhaps the easiest way to do this is the following:

1.  Assuming you have loaded/created a mixture called `mix`
2. Get the list of reactions associated with the mixture using `mix.reactions()`
3. Loop over the list of reactions and obtain the reactant indices and product indices with `rea

[2021-04-05 16:15] koendev commented on #162
Hi @jbscoggi,

Thank you for the quick reaction! It seems to work for now, thank you very much! I might open some other issues for other questions I had.

Best,
Koen Devesse

[2021-04-05 16:15] #162 closed

[2021-04-16 11:16] fbonelli84 opened #163 "Get stoichiometric coefficient with the function product() and reactant()"
I am trying to get the stoichiometric coefficient with the function product() and reactant() but they not seem give the right values.
In the following there is an example of the code and of the output

[code]

OUTPUT:

[code]

[2021-04-16 12:15] jbscoggi commented on #163
Hi @fbonelli84, indeed you have found a bug!  Notice anything wrong  here?

https://github.com/mutationpp/Mutationpp/blob/d053e207d1859bf3a8c8daeeac3d2331b261bf85/src/kinetics/Reaction.h#L186-L191

I'll work on a PR to fix this right away.

[2021-04-16 13:02] jbscoggi commented on #163
Hi @fbonelli84, this bug is fixed in the most recent PR.  We can reopen this issue if you still have problems.

[2021-04-16 13:02] #163 closed

[2021-05-06 07:18] #114 closed

[2021-05-26 09:50] wargnierq opened #165 "Issue regarding compilation of a small code which call MUTATION++ and pointing to collision integrals"
Dear All,

I am having some troubles concerning the compilation of a small code (inspired from the examples in examples/c++) which is calling some functions, such as Q11ij for example.

I have a MacOS 11.2.3 my cmake version is 3.19.1

`name -a` Darwin Qs-MacBook-Pro.local 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64 x86_64

**`env` output*

[2021-05-26 10:04] wargnierq commented on #165
There is still an issue in the reference to the Q11:

(base) Qs-MacBook-Pro:build quentin$ make
Scanning dependencies of target omega11
[ 50%] Building CXX object CMakeFiles/omega11.dir/main.cpp.o
[100%] Linking CXX executable omega11
Undefined symbols for architecture x86_64:
  "Mutation::Transport::CollisionDB::group(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<c

[2021-05-26 11:27] rubendibattista commented on #165
HellO @wargnierq, could you please be more specific on this question?

This should be the last version that is on the git, automatically compiled with canop code

Can you post a `git status` and `git log` output?

[2021-05-26 11:52] wargnierq commented on #165
Hello Ruben,

The mutationpp is the last version that has been installed with canop through the branch features/mhd-kt-multicomp-update

Yours sincerely,

(base) Qs-MacBook-Pro:mutationpp quentin$ git log

commit 369e2b3732d749da31e143e2ee9d654b214875de (HEAD, origin/fix/transport)
Author: Pierre Kestener <pierre.kestener@cea.fr>
Date:   Wed Mar 10 20:16:29 2021 +0100

    fix Transport.h; add mis

[2021-05-26 11:55] rubendibattista commented on #165
Yeah, that probably is outdated. Can you give me the exact commit of the Mutationpp repository embedded in your code?

Also, didn't we already fixed this problem before?

[2021-05-26 11:56] rubendibattista commented on #165
Ok, can you post or give me a link of your repository?

[2021-06-11 22:05] sramjatan1 opened #166 "Adding Dependency for mutation++"
Hello,

I had a question on installing the eigen3 dependency in mutation++.
I was trying to compile the tutorial.cpp but needed the eigen3 dependency. My question was how do I add this dependency?
My system information is below. I appreciate any insight.

Thanks,

**My OS is**: Linux

**OS Version:**
NAME="openSUSE Leap"
VERSION="42.3"
ID=opensuse
ID_LIKE="suse"
VERSION_ID="42.3"
PRETTY_NAME="open

[2021-06-11 22:10] rubendibattista commented on #166
Hello @sramjatan1. The output of few commands required in the template are missing.

Anyway,
I'm not extremely familiar with OpenSUSE. But, did you just tried to install Eigen3 with your package manager?

The name of the package is `eigen3`. https://software.opensuse.org/package/eigen3

[2021-06-11 22:23] sramjatan1 commented on #166
Hi @rubendibattista

I believe the other commands were:

enet-schwart-08% cmake CMakeLists.txt
-- Searching for Eigen3...
-- Configuring done
-- Generating done
-- Build files have been written to: /project/ramja003/MUTATION/Mutationpp

And

enet-schwart-08% make
[ 92%] Built target mutation++
[ 95%] Built target bprime
[ 97%] Built target mppequil
[100%] Built target checkmix

I did not try to in

[2021-06-11 22:24] rubendibattista commented on #166
Well, the output looks correct. It seems correctly compiled!

[2021-06-11 22:56] sramjatan1 commented on #166
Hi @rubendibattista to clarify which folder in my mutation++ directory do I install  Eigen3 ?

Thanks

[2021-06-11 23:27] rubendibattista commented on #166
@sramjatan1 From the output of your make command, it seems you already installed `Eigen3`. So I don't know what is your problem.

[2021-06-11 23:36] sramjatan1 commented on #166
@rubendibattista Right, I see.

Lets say I want to run the tutorial.cpp file which is in /MUTATION/Mutationpp/examples/c++/tutorial

To clarify, what steps do I need to do in order to compile the tutorial.cpp file?

[2021-06-12 00:07] sramjatan1 commented on #166
When I am trying to compile it, I am getting:

../../../include/mutation++/MultiPhaseEquilSolver.h:33:23: fatal error: Eigen/Dense: No such file or directory
 #include <Eigen/Dense>

[2021-06-12 08:00] rubendibattista commented on #166
@sramjatan1 I really need to know the exact steps you used to compile your Mutationpp, otherwise it is gonna be very difficult for me to understand.

Could you please edit your first message filling up in details the template, notably the build steps. Please write down all the steps in details? Also, if it does not bother you, could you maybe format the text using [Github Markdown](https://guides.

[2021-06-14 22:11] sramjatan1 commented on #166
@rubendibattista sounds good. I will do that.

BTW when I am trying to install mutation, I am getting the warning below. Just curious if this is supposed to happen?

 The source directory

    /project/ramja003/MUTATION_2/Mutationpp/examples/c++/CMakeFiles

  does not contain a CMakeLists.txt file.

[2021-06-16 18:42] sramjatan1 commented on #166
@rubendibattista everything is working now! I realized I had messed up where I was building mutation. Following the steps carefully this time, I was able to install everything correctly. Sorry I was confused in the beginning. Its been a while. Thanks alot for your help. You can close this issue.

[2021-06-16 19:14] rubendibattista commented on #166
No problem @sramjatan1. Happy to help and I hope to see you soon somehow! Happy it works. Don't hesitate to open an issue again if you need further help! :)

[2021-06-16 19:14] #166 closed

[2021-07-22 20:03] jbscoggi commented on #39
This seems to be a non issue, closing due to inactivity.

[2021-07-22 20:03] #39 closed

[2021-07-22 20:04] jbscoggi commented on #38
Closing due to inactivity.

[2021-07-22 20:04] #38 closed

[2021-07-22 20:07] jbscoggi commented on #19
This is very old and has recently been superseded by #169.  Closing.

[2021-07-22 20:07] #19 closed

[2021-07-22 20:08] jbscoggi commented on #11
This is very old and not really relevant anymore.  Closing.

[2021-07-22 20:08] #11 closed

[2021-07-22 20:10] jbscoggi commented on #141
Hey @capriatim, did you have a chance to fix reactions that were wrong?  I'm curious if this was an issue in your comparisons with US3D?

[2021-07-22 20:24] jbscoggi commented on #41
Seems like a dead issue, closing...

[2021-07-22 20:24] #41 closed

[2021-07-22 20:25] jbscoggi commented on #148
Hey @CatarinaGarbacz, can I close this issue?

[2021-07-23 13:58] CatarinaGarbacz commented on #148
yes! solved

[2021-07-23 13:59] jbscoggi commented on #148
great! thanks, closing.

[2021-07-23 13:59] #148 closed

[2021-07-26 15:20] anfuso1193 opened #170 "error trying the 'pip install .... mutationpp' command"
Hi,
I am currently trying to install the new python package to directly work with mutation++.
However, here is attached a link with the errors I am facing. I am using a MacBook with Mojave (version 10.14.6) and Python 3.9.6

<img width="1440" alt="mpp" src="https://user-images.githubusercontent.com/8077364/127033028-81311f3a-5442-466e-9a42-4f81f2fc2beb.png">

I know it is a new feature so let me k

[2021-07-26 17:34] rubendibattista commented on #170
Hello, thanks for reporting this. I edited your message to put your image directly in the message to avoid broken links in the future. It's a good practice to put everything in a issue message.

Now, to the problem. The problem arises because we'are currently building pre-built wheels only for Catalina, so on Mojave you need to build the source distribution from scratch. So the easiest fix would b

[2021-07-27 09:11] anfuso1193 commented on #170
Thanks Ruben, I uploaded to Catalina and the installation was successful.
Thanks for your help.

Cheers,
Enrico!

[2021-07-27 09:37] #170 closed

[2021-07-27 20:16] jbscoggi commented on #165
Hey @wargnierq, can I close this issue? It seems to have gone stale...

[2021-07-28 11:02] rubendibattista commented on #165
Nope. I'll give it a look soon!, 😉

[2021-07-28 15:46] rubendibattista commented on #165
[code]

You had a typo on line 127. You wrote `CollisionDB()`, it is `collisionDB()`.

[code]

This compiles for me with the latest Mutation++, but I'm missing the file
[code]

Also, please next time write your issue description with the correct formatting, because your `main.cpp` is unreadable. Putting a bit more effort to explain clearly the issue makes easier for people to help you.

[2021-07-28 15:49] rubendibattista commented on #165
Also, please prov

[2021-07-28 15:49] #165 closed

[2021-07-28 16:27] jbscoggi commented on #165
That's what I said on May 26!

[2021-07-28 17:13] rubendibattista commented on #165
Well, I forgot. 😂 Ans apparently there were linking problems... That I don't have. 🤷🏻‍♂️

[2021-07-28 18:16] jbscoggi commented on #165
Haha yea, I just thought I remembered finding the same bug so had to say it! :) I didn't have the linking issues either...

[2021-07-29 15:57] WallyMaier opened #171 "Confusion over the Park's correction for vibrational relaxtion"
Hi All,

I had a quick question regarding Park's correction within Mutation++.   Particularly in the computation of the collision speed(s), Cs.  In the literature, Cs is computed using :  `sqrt(8*R*T/(pi*Ms))`  (sorry, my images weren't loading in properly.) Here, we can see the use of MolarMass in the denominator

However Mutation++ uses a reduced mass, mu, which is (Ms_i*Ms_j/(Ms_i+Ms_j)).   I w

[2021-07-29 21:34] jbscoggi commented on #171
Hey @WallyMaier, thanks for your question.  For clarity for others coming to this question, we are talking about this: https://github.com/mutationpp/Mutationpp/blob/8c1c129474239dc172d42ed82310a108aa7bba42/src/transfer/OmegaVT.cpp#L154-L168

Indeed, based on the literature it seems the common approach is to use the species mass (or molecular weight depending on R or kB) and not the reduced mass. F

[2021-07-30 05:58] grgbellasvki commented on #171
Hello @WallyMaier,

Thanks for bringing this to our attention.

If I remember correctly it comes from some legacy version of the original mutation library. I will try to retrieve it and see if there is any comment on why this formalism was chosen.

In any case, we should probably stick to literature for a term like this one and follow the Gnoffo's (1989) approach. What's your opinion @jbscoggi?

[2021-07-30 07:21] jbscoggi commented on #171
Yep, totally agree we should stick to the literature for this and that Gnoffo's approach is the one to follow.  I'll work on it as soon as I can and submit a PR when it's done.

[2021-08-02 12:33] erangit opened #172 "Generation of a proper mechanism file"
I'm learning to use Mutationpp through SU2-NEMO coupling
I need to create a mixture of humid air.
No problem to create the mixture file ([N N2 O O2 H2O H H2 Ho]
But I have no idea how to create the mechanism file (not the format but which reactions,
their constants, and so forth).
In Cantera, I used to use published mechanisms (in chemkin or cti format)
by places like UCSD, UMINN , Aramco to creat

[2021-08-04 09:46] jbscoggi commented on #171
Hi @WallyMaier and @grgbellasvki, I have just submitted a PR to fix this issue.  Once the reviews and tests are done, I'll merge and hopefully this will fix the problem.

[2021-08-04 14:14] #172 closed

[2021-08-10 08:33] jbscoggi commented on #171
Hey @WallyMaier, I believe the problem is now fixed.  Can you please reinstall M++ on your end and verify that the comparison with LeMANS is working?

[2021-08-10 17:56] WallyMaier commented on #171
@jbscoggi Sounds good!  Will report back soon.

[2021-08-31 13:38] capriatim commented on #141
Hi JB, actually when I compared to US3D i adapt MPP mech file to the US3D one, whoch anyway relys on the old Park model.
[mech.pdf](https://github.com/mutationpp/Mutationpp/files/7084313/mech.pdf)

[2021-08-31 13:43] capriatim commented on #141
Hi JB, actually when I compared to US3D I adapted MPP mech file to the US3D one, which relies on the old Park model.

The differences I found where with respect to the references, I attached them, compared also with the values used in US3D. We can see next meeting weater to push the modified xml file.

[air11_Park.xml.pdf](https://github.com/mutationpp/Mutationpp/files/7084329/air11_Park.xml.pdf)

[2021-09-13 12:07] anfuso1193 opened #176 "Error in libmutation++_fortran.dylib."
**My OS is**:
MacBook Pro 2018

**OS Version**:
Catalina 10.15.7

**Cmake Version:**
3.21.0

**`uname -a` output**

[code]

**`env` output**

[code]

**Mutation++ origin**
 Build from source
- [ ] Package manager
- [x] Build from source

**Mutation++ build steps**

1. Step
git clone github.com/mutationpp/Mutationpp
mkdir build
cd build
cmake -DCMAKE_INSTALL_PREFIX:PATH=$(realpath ../install) ..
ma

[2021-09-13 16:06] rubendibattista commented on #176
Ehi @anfuso1193, the problem might be related to the cmake script of stagline. Could you please provide a link to the code such that I can inspect it?

[2021-09-15 09:20] anfuso1193 commented on #176
Hi Ruben, have you recieved my email with all the info you asked for?

[2021-09-15 12:14] rubendibattista commented on #176
@anfuso1193 I don't think I have. But I'd very much prefer you to put that info here in the issue such that everybody in the future could eventually stumble on this issue and learn something.

[2021-09-15 13:12] anfuso1193 commented on #176
Yeah sure, sorry for that. Here the link:
[https://drive.google.com/drive/folders/1h-C7gFkJtzNcK7DCQg7IsqQam3W_v7Rz?usp=sharing](url)
Let me know if you have any troubles with the drive.
I know other people didn’t have any problems installing and make it works. I think the problem is my machine.
Thanks a lot!

[2021-09-15 13:25] rubendibattista commented on #176
Here's an example for the Fortran interface: https://github.com/mutationpp/Mutationpp/blob/master/examples/fortran/CMakeLists.txt.shared

[2021-09-15 13:31] anfuso1193 commented on #176
No, I didn't. I was following other instructions (Codes_101_BD.docs file inside the stagline folder). I will have a look at the documentation.

[2021-09-15 13:33] rubendibattista commented on #176
I guess that historical for old versions of mutation. The new way is exactly aimed at avoid problems with wrong path because that information is included in the cmake target and doesn't have to be hard-coded by hand.

Let me know if you manage to make it work.W😉

[2021-09-20 11:03] anfuso1193 commented on #176
Hi Ruben,
sorry to bother you. I have tried to have a look at the docs but I am not familiar with the procedure so I guess I still need your help. Thanks a lot

[2021-09-20 11:08] rubendibattista commented on #176
Hello @anfuso1193, if you tell me what you tried and what problems you are encountering, I can help you troubleshoot. I'm afraid I have no time to support the build system of an external project right now, I'm sorry.

The starting point is this file: https://github.com/mutationpp/Mutationpp/blob/master/examples/fortran/CMakeLists.txt.shared. Adapt it to stagline cmake script file.

[2021-09-20 16:35] anfuso1193 commented on #176
Thanks, Ruben. The code seems to work now but the problem was not the CMake. Apparently, it was on my .zshrc file.
Thanks for your time and help!

[2021-09-20 17:47] rubendibattista commented on #176
Hello @anfuso1193, good to know. I still think that the cmake script should be adapted to use cmake targets (as shown in the script I shared before) instead of retrieving paths. Also, the build script should be adapted to be independent of user environment configuration (your `.zshrc`). One way to do that, in addition to switching to targets to reduce problems with non-existent paths), is to confi

[2021-09-20 17:47] #176 closed

[2021-09-21 10:32] anfuso1193 opened #177 "fatal error in Mutationpp/install/include/mutation++/mutationpp.mod"
Hi Ruben,
sorry to bother you again. All the info about the procedure in installing Mutationpp has been reported in a past closed issue (#176). The 'mutationpp.mod' file has been generated switching in "ON" the BUILD_FORTRAN_WRAPPER

I am trying to compile a code called CABARET (developed by Anabel del Val) with a 'make General' command line. I have attached the General.f90  and Makefile (the form

[2021-09-21 11:18] rubendibattista commented on #177
Hello @anfuso1193, could you please provide the version of your compilers? Normally this is given by the cmake output, but the output you posted in #176 is not the full output from a clean situation.

[2021-09-21 11:33] rubendibattista commented on #177
Anyway I think it cannot find the module.

[code]

The flag to tell to the compiler where to find the modules is `-I`, not `-J`. Also be sure that the module is correctly present in the `$(MUTATIONPP_INSTALL)/include` because right now I'm from mobile and I don't recall where the module file is installed by cmake.

[2021-09-21 12:42] anfuso1193 commented on #177
Hi Ruben,
- The gfortran compiler version is the 10.2.0
- I have checked the cmake output of M++ in "$(MUTATIONPP_INSTALL)/build/CMakeFiles/CMakeOutput.log" and it says that the compiler is "/Library/Developer/CommandLineTools/usr/bin/c++ " (I guess this is the problem)
- I switch the -J with -I but as you can imagine the output is the same
- The module "mutationpp.mod" is in "$(MUTATIONPP_INSTALL

[2021-09-21 13:58] rubendibattista commented on #177
Ok, can you please attach here the entirety of the code you'd like to integrate with Mutation?

[2021-09-21 23:15] rubendibattista commented on #177
(The patch uses `cmake` to build. So you need to follow standard practice for cmake build:

- `mkdir build` in the root folder after zip extraction
- `cd build`
-  `cmake -Dmutation++_DIR=$MUTATIONPP_INSTALL ..`
- `make`

[2021-10-14 13:00] ggange opened #179 "updating python package to thermal nonEquilibrium"
Hello guys,
I am trying to exploit the functionality of the MutationPP python package (got from pip).

I wrote a small script to define a mixture using "ChemNonEqTTv" but, as soon as I tried to setState, I get this error

mix.setState(rho, T, 1)
TypeError: setState(): incompatible function arguments. The following argument types are supported:
    1. (self: mutationpp._mutationpp.Mixture, arg0: fl

[2021-10-14 21:05] rubendibattista commented on #179
Ehi @ggange, can you attach the script? Such that I can use it to verify the implementation and maybe add a test.

[2021-10-15 06:37] BBArrosDias commented on #179
Hi @rubendibattista, I think the point here is to get familiar with changing the package locally and update it.
In your opinion should we do something like this:
https://widdowquinn.github.io/coding/update-pypi-package/

I am also interested in adding more tests, and it would be nice if @ggange does this update so he can get familiar with the package if he needs to add something more in the future

[2021-10-17 22:00] rubendibattista commented on #179
Yes. Just to be clear: you don't need to upload to PyPi the new package to have it available locally. Building the package correctly in editable mode will give you straight access to the new version. Then, once you push it upstream, we will let all the other users have access to your improvements.

[2021-10-18 16:06] mgoodson-cvd opened #180 "Add setGSIMechanism to MixtureOptions"
The `MixtureOptions` class has getters and setters for all its object strings (thermo_db, viscosity algorithm, etc) except that it is lacking a setter for the GSI Mechanism `m_gsi_mechanism`. There is a getter, [`getGSIMechanism`](https://github.com/mutationpp/Mutationpp/blob/c2e1ba718368597ebb9f3be0184f22061b8f6030/src/general/MixtureOptions.h#L218) so this appears to be an oversight.

I need thi

[2021-11-08 16:57] jbscoggi commented on #171
Hey @WallyMaier, any update about the update to the OmegaVT term?

[2021-11-08 17:07] jbscoggi opened #183 "Add more tests to python test suite"
Test coverage is currently underwhelming....

[2021-11-08 17:11] jbscoggi commented on #177
Hey @anfuso1193, is this fixed?

[2021-11-08 17:40] WallyMaier commented on #171
@jbscoggi Sorry JB,  Let me do this right now!

[2021-11-08 17:47] jbscoggi commented on #141
Hey @capriatim, after our discussion with the group, we all agree that each reaction should fully match the reference.  Therefore we need to update the mechanism.  Here are the key points from our discussion:
- leave the current mixture/mechanism alone
- create a new mixture/reaction based on the reference, ie: air_11_Park2001.xml, air_11_Park2001_mech.xml
- provided some documentation for users o

[2021-11-09 15:35] enrico1193 commented on #177
Hi JB, not yet.
When I try to run the command "cmake -Dmutation++_DIR=$MUTATIONPP_INSTALL .." I get the following error
"
CMake Error at /usr/local/Cellar/cmake/3.21.0/share/cmake/Modules/CMakeFindDependencyMacro.cmake:47 (find_package):
  By not providing "FindEigen3.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Eigen3", but
  CMake d

[2021-11-09 15:53] rubendibattista commented on #177
@enrico1193, that command is to compile `Mutation++` or cabaret? Can you maybe open a new issue, choose an issue template, fill up the template in all the details you can? Because the problem you are now mentioning is different from the original one on this issue! :)

[2021-11-09 16:06] enrico1193 commented on #177
Hi Ruben, it is to compile cabaret. I will open a new issue.

[2021-11-09 16:15] rubendibattista commented on #177
Great thanks! :)

[2021-11-09 17:44] WallyMaier commented on #171
Heres a quick update....running the same case for N2-N case the thermal relaxation behavior can be seen here:
![N2-tt-tv](https://user-images.githubusercontent.com/17651188/140976691-fd4fdf0e-f9d9-4f22-8055-957b4de26a82.png)

Something isnt working as expected,

[2021-11-10 07:32] enrico1193 opened #184 "Error in 'FindEigen3.cmake' installing CABARET"
**My OS is**:  macOS Catalina

**OS Version:**10.15.7

**Cmake Version:** 3.21.0

**`uname -a` output**

[code]

**`env` output**

[code]

**Mutation++ origin**

- [ ] Package manager
- [X] Build from source

**Mutation++ build steps**

The steps are those described in 'installation.md' file
When I run 'make -j 4 install' I get the following warnings:
[code]
**Mutation++ cmake output**

[code]

**

[2021-11-11 13:48] rubendibattista commented on #184
Thanks @enrico1193. The problem here is that CMake does not automatically propagates nested dependencies ([Here](https://gitlab.kitware.com/cmake/cmake/-/issues/20511#note_1046474) for more info). And you don't have Eigen3 installed, then Mutation++ automatically used the vendored version, that unfortunately does not provide a Cmake config file to be propagated, hence your problem.

Easy solution:

[2021-11-11 18:29] enrico1193 commented on #184
Thanks a lot!! You can close the ticket.

[2021-11-11 18:44] #184 closed

[2021-11-16 18:08] mgoodson-cvd opened #185 "Minor bug in SurfaceBalanceSolverMassEnergy"
There is a minor bug in the `updateFunction` routine in the `SurfaceBalanceSolverMassEnergy` class [here](https://github.com/mutationpp/Mutationpp/blob/c9a924fde43216e0777a918dc5042eaa18ae98b5/src/gsi/SurfaceBalanceSolverMassEnergy.cpp#L246). The `applyTolerance` should be called on the input vector `v_X` rather than the stored vector `mv_X`.  `mv_X` already had the tolerance applied [here](https:

[2021-11-30 13:54] enrico1193 opened #189 "/usr/bin/ld: cannot find -lmutation++_fortran"
**My OS is**: Linux

**OS Version:**
[code]

**Cmake Version:** 3.17.2

**`uname -a` output**

[code]
**`env` output**

[code]

**Mutation++ origin**

- [ ] Package manager
- [ x] Build from source

**Mutation++ build steps**

[code]

**Mutation++ cmake output**

[code]

**Mutation++ make output**

[code]

**Your software build steps**

[code]

**Steps to reproduce**

The problem is when I run the

[2021-12-01 11:40] rubendibattista commented on #189
Hello, as I told in the previous thread, you should follow the modern way of including CMake dependencies in the code (and I see you don't  do that in stagline). More info [here](https://github.com/mutationpp/Mutationpp/blob/master/docs/coupling.md) and [this file](https://github.com/mutationpp/Mutationpp/blob/master/examples/fortran/CMakeLists.txt.shared)

[2021-12-01 13:28] enrico1193 commented on #189
Hi Rube, yes indeed I have tried to adapt the CMakeList file of stagline. Then I follow the standard procedure:
1) mkdir build
2) cd build
3) cmake ../

 and I get the following error at line 51 of the CMakeList file: "Target "mutation++::fortran_interfaces" not found"

[stagline.zip](https://github.com/mutationpp/Mutationpp/files/7634166/stagline.zip)

[2021-12-03 14:29] rubendibattista commented on #189
Absolutely sure you are using the latest version of Mutation?

[2021-12-03 15:47] enrico1193 commented on #189
Yes definitely. I reinstalled  mutation++ a few days ago downloading the code from here (Git)

[2021-12-03 16:02] enrico1193 commented on #189
Here attach the zip of m++ if you want to have a look.

[2021-12-03 18:48] enrico1193 commented on #189
Yes definitely. I reinstalled mutation++ a few days ago downloading the code from here (Git)

[2021-12-06 20:56] rubendibattista commented on #189
[code]

with this it starts the build as expected. You added an s to `interfaces` that shouldn't be there.

[code]

[2021-12-09 08:24] enrico1193 commented on #189
Thanks a lot, Ruben really!!!

[2021-12-09 08:24] #189 closed

[2021-12-29 15:52] mgoodson-cvd opened #190 "CMake Fortran compiler flags not set properly"
The CMake Fortran compiler flags defined [here](https://github.com/mutationpp/Mutationpp/blob/c9a924fde43216e0777a918dc5042eaa18ae98b5/CMakeLists.txt#L153-163) are not set properly because the calls to `set` are missing the `CACHE` and `FORCE` attributes.  The `CMAKE_<LANG>_FLAGS*` are defined by CMake and are cached, so we need the `CACHE` flag when setting them explicitly to override the default

[2021-12-29 15:57] mgoodson-cvd opened #191 "Fortran interface install destination undefined when using CMake command line"
Using CMake via the command-line to build the Fortran wrapper, e.g., `cmake -DBUILD_FORTRAN_WRAPPER="TRUE"` results in an error. This is because `INSTALL_LIB_DIR` and `INSTALL_INCLUDE_DIR` variables are undefined when the Fortran interface CMakeLists is parsed, via the `add_subdirectory` call [here](https://github.com/mutationpp/Mutationpp/blob/c9a924fde43216e0777a918dc5042eaa18ae98b5/CMakeLists.t

[2021-12-29 18:33] rubendibattista commented on #190
Are you sure about this? It's a new behavior? I never had to force cache compiler flags ever before... And I tested the Fortran interface not so long ago and it was working as expected.

[2021-12-29 18:50] mgoodson-cvd commented on #190
It will still work fine as-is, but the Fortran compiler flags will be set to the CMake defaults rather than what you're setting them to be. Check your `CMakeCache.txt` after running CMake and compare the `CMAKE_Fortran_FLAGS*` in there against what is being specified [here](https://github.com/mutationpp/Mutationpp/blob/c9a924fde43216e0777a918dc5042eaa18ae98b5/CMakeLists.txt#L153-163) in CMakeLists

[2021-12-29 18:52] mgoodson-cvd commented on #190
Also, it's worth pointing out that the `CMAKE_CXX_Profile` are force cached [in that same file](https://github.com/mutationpp/Mutationpp/blob/c9a924fde43216e0777a918dc5042eaa18ae98b5/CMakeLists.txt#L66-79) and they function as expected. I duplicated this behavior in my commit.

[2021-12-30 19:31] mgoodson-cvd commented on #13
Just as a warning to others, I've encountered two places where a mass fraction of zero will produce a division by zero:

- in the Gupta-Yos viscosity algorithm, [here](https://github.com/mutationpp/Mutationpp/blob/c9a924fde43216e0777a918dc5042eaa18ae98b5/src/transport/GuptaYos.h#L69)
- in Park's correction to the Millikan-White relaxation time, [here](https://github.com/mutationpp/Mutationpp/blob/

[2022-01-03 21:49] #191 closed

[2022-01-06 15:15] #190 closed

[2022-01-13 21:34] Gianni-NCSU opened #195 "Silence Eigen3 error in cmake"
My OS is Linux

**OS Version:**
NAME="Fedora Linux"
VERSION="35 (Workstation Edition)"
ID=fedora
VERSION_ID=35
VERSION_CODENAME=""
PLATFORM_ID="platform:f35"
PRETTY_NAME="Fedora Linux 35 (Workstation Edition)"
ANSI_COLOR="0;38;2;60;110;180"
LOGO=fedora-logo-icon
CPE_NAME="cpe:/o:fedoraproject:fedora:35"
HOME_URL="https://fedoraproject.org/"
DOCUMENTATION_URL="https://docs.fedoraproject.org/en-US/f

[2022-01-14 21:26] rdbisme commented on #195
Hello, why would you like to silence the error? Can you please edit your post with the steps you took to build Mutation++? The one you listed are partial and wrong (`cd eigen`?). Also, you are not passing correctly the path to your self-compiled Eigen3, so the script is compiling it from the [vendored version](https://github.com/mutationpp/Mutationpp/tree/master/thirdparty/eigen).

Also `find_pack

[2022-01-17 18:09] grgbellasvki opened #196 "Liquid density"
By running mppequil with a mixture containing liquid water, the returned density is ambiguous.

For example, in the mixture (water.xml):
[code]
mppequil `mppequil -T 300 -P 101325 -m 0,1 -s 3 water` returns:
[code]
while it should be in principle equal to 997 [kg/m^3].

In all the verification cases I ran, the multiphase equilibrium solver seems to working ok and consistent with literature. Same f

[2022-01-24 14:33] mgoodson-cvd commented on #171
I can further confirm that the modifications made in c9a924fde43216e0777a918dc5042eaa18ae98b5 appear to be problematic. @jbscoggi I can't post these results here, but I would be happy to share more in private communication. Suffice it to say that we are running two-temperatures with Mutation++ and comparing against a well-established and trusted CFD code. Our results prior to this commit match ver

[2022-01-26 03:34] Gianni-NCSU commented on #195
Hello. I was unaware there were custom find_package modules, sorry for the confusion. My problem was that with a system level installation of Eigen your FindEigen3.cmake would treat it as if Eigen was not found.

I found a solution to my problem: in your module FindEigen3.cmake you check for Eigen3_FOUND but Eigen seems to set EIGEN3_FOUND instead: https://stackoverflow.com/questions/42902922/cmak

[2022-01-31 10:30] rdbisme commented on #195
I'm still not convinced. This is how I compiled against a self-compiled Eigen version:

[![asciicast](https://asciinema.org/a/wylb0g74C5bWDLS1rlSuZBmXJ.svg)](https://asciinema.org/a/wylb0g74C5bWDLS1rlSuZBmXJ)

[2022-01-31 20:43] mgoodson-cvd commented on #171
After bisecting the commits between a known good version and the latest master, I can confirm that https://github.com/mutationpp/Mutationpp/commit/bc9ce81c5dc607f927fc4e07781b8bad44e43d6c is the breaking commit. I will start digging in to see where the bug was introduced.

[2022-02-01 18:17] Gianni-NCSU commented on #195
I followed those same steps on my machine and get the error.
[![asciicast](https://asciinema.org/a/GvItJBusaTYxFJBlsTXivCeJh.svg)](https://asciinema.org/a/GvItJBusaTYxFJBlsTXivCeJh)

[2022-02-01 21:10] mgoodson-cvd commented on #171
@jbscoggi @WallyMaier I believe I have found the bug. The Park correction to the Landau-Teller relaxation time is missing the temperature scaling factor [here](https://github.com/mutationpp/Mutationpp/blob/b7cfe9c556a5a644b9c08d36624cf3e47a9d30bb/src/transfer/MillikanWhite.cpp#L146),
[code]
This was present prior to bc9ce81, as can be seen [here](https://github.com/mutationpp/Mutationpp/blob/8c1c1

[2022-02-01 22:32] rdbisme commented on #195
I think you're missing a `make install` after the `cmake` when building eigen3, aren't you?

[2022-02-02 00:51] WallyMaier commented on #171
@mgoodson-cvd Thanks for looking into this!  Ill try to run the case above again with your fixes, and iIl post the results here.

[2022-02-02 01:36] Gianni-NCSU commented on #195
I've fixed the recording, unfortunately I still get the error.
[![asciicast](https://asciinema.org/a/RVMArcpDocbfuziXh7Er0OkVd.svg)](https://asciinema.org/a/RVMArcpDocbfuziXh7Er0OkVd)

[2022-02-06 09:32] rdbisme commented on #195
Before "building" eigen3, switch to the latest tag:
- `git checkout 3.4.0`

[2022-02-15 03:26] #171 closed

[2022-02-16 02:34] jbscoggi opened #200 "Phantom jobs in CI tests"
In recent PRs, I've noticed that 4 checks are never run.  Even more odd is that I can't find these jobs anywhere in the `.github/workflow` files.  In particular these are:

- build_linux (ubuntu-16.04, Debug, clang clang++)
- build_linux (ubuntu-16.04, Debug, gcc g++)
- build_linux (ubuntu-16.04, Release, clang clang++)
- build_linux (ubuntu-16.04, Release, gcc g++)

Beyond just being weird, it st

[2022-02-20 12:16] rdbisme commented on #200
Ehi @jbscoggi. I think it's  a bug of Github Actions: https://github.community/t/is-there-a-way-to-delete-or-hide-old-renamed-workflows/16281/35

[2022-02-20 12:20] rdbisme commented on #200
Oh wait, [this](https://github.com/actions/runner/issues/1303) looks related

[2022-02-20 12:20] rdbisme commented on #200
Fixed! :)

[2022-02-20 12:20] #200 closed

[2022-02-20 21:51] jbscoggi commented on #200
Thanks @rdbisme!

[2022-03-04 03:04] #180 closed

[2022-03-04 03:19] #185 closed

[2022-04-08 20:22] mgoodson-cvd opened #203 "Add primitive state model for ChemNonEqTTv"
There is a [primitive state model (option 2)](https://github.com/mutationpp/Mutationpp/blob/e5c19da0d63ef72b6c59da25c48d44025d46e760/src/thermo/ChemNonEqStateModel.cpp#L61) for the single temperature chemically reacting state model (`ChemNonEq1T`) that accepts the pressure, temperature, and mass fractions as inputs. There is however [no matching option](https://github.com/mutationpp/Mutationpp/blo

[2022-04-08 20:34] mgoodson-cvd opened #204 "Typo in setState unit test"
There is a typo in the `setState` unit test [here](https://github.com/mutationpp/Mutationpp/blob/e5c19da0d63ef72b6c59da25c48d44025d46e760/tests/c%2B%2B/test_set_state.cpp#L86). The temperature is being checked against itself. It should instead be checking `T1(i)` against `T2(i)`, as is done [here](https://github.com/mutationpp/Mutationpp/blob/e5c19da0d63ef72b6c59da25c48d44025d46e760/tests/c%2B%2B/

[2022-04-15 12:30] VirgileCharton commented on #117
Hello,

I am a new user of M++, and I am very interested about the above request as I also work with low temperatures and NASA-9 polynomials. How does M++ handle the temperature below 200K in that case ? Is there a threshold or are the polynomials used beyond the temperature validity range ? Thank you very much.

Regards,

Virgile Charton

[2022-04-20 18:24] #203 closed

[2022-04-20 18:24] #204 closed

[2022-05-06 23:49] Numedi opened #209 "bprime executable hangs"
Hello everyone,

First of all, thank you for developing Mutation++ and make it so easily accessible.
I have been recently interested into using mutation++ to compute bprime tables for atmospheric reentry problems, but using the latest version, the executable hangs (more precisely, it has problem to compute the mixture equilibrium in the surfaceMassBalance function) even for example mixture files s

[2022-05-09 17:37] BBArrosDias commented on #209
Hi Numedi,

That seems right.
Could you commit your fix and make sure all tests pass?

Cheers,
Bruno

[2022-05-11 11:52] capriatim commented on #141
Hey @jbscoggi, as discussed I changed the format.
Pull request open.

I kept for legacy reason the old mechanism file.

[2022-05-20 02:09] mgoodson-cvd commented on #141
I'm curious about the electron third-body for the N2 dissociation. Referring to @turchia's PDF above, the electron should have a third-body efficiency of 428.47 (if 7e+21 is used as the base Arrhenius rate). But Mutation++ does not allow the electron to be used as a third body; see [here](https://github.com/mutationpp/Mutationpp/blob/d37d3c8f808ff356ce75235355aa8c7f8b77cf29/src/kinetics/Reaction.c

[2022-05-20 15:32] capriatim commented on #141
Hi @mgoodson-cvd, do you mean to allow using electrons as a third species?
The reaction you mentioned is included in the mechanism file exactly as you write it.

[2022-05-20 15:48] mgoodson-cvd commented on #141
I completely missed that because I didn't expand those lines in the pull request. Sorry @capriatim! It is fine as is.

When I mentioned adding those lines, I had to do that for a local air11 mechanism we constructed for comparison with another code (which included the electron as a third body instead of a separate reaction). Apologies for the confusion.

[2022-06-06 20:46] mgoodson-cvd opened #210 "Electron mass lacks precision"
The electron mass defined as 5.5e-4 g/mol [here](https://github.com/mutationpp/Mutationpp/blob/d37d3c8f808ff356ce75235355aa8c7f8b77cf29/data/thermo/elements.xml#L5) in `elements.xml` is lacking in precision. The value defined [in the NASA-9 thermodynamics database](https://github.com/mutationpp/Mutationpp/blob/d37d3c8f808ff356ce75235355aa8c7f8b77cf29/data/thermo/nasa9.dat#L167) is 5.48579903e-4 g/

[2022-06-10 01:54] jbscoggi commented on #210
Nope, no reason other than I guess I was feeling lazy that day!  Please submit the PR with the correct value and I'll merge ASAP.  Thanks!

[2022-06-10 13:27] mgoodson-cvd commented on #210
Will do. The fun thing about this one-line change is that it breaks several of the unit tests...

I'll try to get them sorted out before I push anything.

[2022-06-10 13:58] mgoodson-cvd commented on #210
Any preference on whether to use the older NASA-9 value for the electron mass or the newer 2018 CODATA value?

Also, some of the [other constants in Constants.h](https://github.com/mutationpp/Mutationpp/blob/d37d3c8f808ff356ce75235355aa8c7f8b77cf29/src/general/Constants.h#L48-56) are out of date with the 2018 CODATA values; e.g., `NA = 6.0221415E23` but [CODATA value](https://physics.nist.gov/cgi-

[2022-06-10 14:10] mgoodson-cvd commented on #210
While most of the unit tests were easy to fix, the [comparisonTest](https://github.com/mutationpp/Mutationpp/blob/d37d3c8f808ff356ce75235355aa8c7f8b77cf29/tests/c%2B%2B/test_comparisons.cpp) is not. It is comparing against [stored data](https://github.com/mutationpp/Mutationpp/tree/d37d3c8f808ff356ce75235355aa8c7f8b77cf29/tests/c%2B%2B/comparisons) (presumably generated with Mutation++?), in a cer

[2022-06-14 12:43] liusl-u-bordeaux opened #212 "Mutation++ gives non consistent transport properties with condensed species in the mixture"
I am running a simulation about the drying process of wood.
The material properties are solid 0, water 0.99, and air:0.01.
GasPropertiesType is FiniteRateMaterial and ChemistryType is SpeciesConservation.
I used "frozenThermalConductivity" for kg (thermal conductivity) and "mixtureFrozenCpMass" for cpg (specific heat capacity).
After the simulation, I got strange values for kg and mu (viscosity).

[2022-06-17 11:27] BBArrosDias commented on #212
@jbscoggi and @grgbellasvki I changed the `Transport` and `CollisionDB` to consider only gas-phase species. The main issue is that `Transport::reactiveThermalConductivity()` in [Transport](https://github.com/mutationpp/Mutationpp/blob/master/src/transport/Transport.cp) utilizes `speciesHOverRT` which is looping over all the species and affecting `mp_wrk1` and `mp_wrk2`. This leads to incorrect res

[2022-11-24 09:31] tu-97 opened #220 "How shou I use mutation++ with OpenMP Correctly and Efficiently？"
My OS is ubuntu:

My OS Version:20.04

HELLO,I am a  rookie CFD coder ,I want to  Parallelize my code with OpenMP.   I am using structured grid.
For two-dimensional calculations，there are two  for loop. In each mesh point，I need to use mutation++ to calculate
mixture properties，T 、P...

My serial code works well，I can pass mixture using C + + Reference.
//------------------------------------------